/* 1. Variables 
------------------------ */
:root {
  --admiral-blue: #3457a5;
  --admiral-blue-hover: #3457a5;
  --brilliant-blue: #63a1d3;
  --cerulean: #069abc;
  --cerulean-hover: #05728b;
  --tiger-orange: #eb5842;
  --tiger-orange-hover: #D34C37;
  --ink: #171c47;
  --seagreen: #3caea3;
  --cranberry: #d72846;
  --marigold: #ebb82c;
  --seal: #7e8a9e;
}

/* TOC
-----------
1. Variables
2. Base
3. Type
4. Forms
5. Header
6. Mobile Nav
7. Footer
8. Components
9. IE11
10. Print

*/


/* 2. Base 
------------------------ */
html,
body {
  overflow-x: hidden;
}
sup {
  top: -1em;
  font-size: 0.5em;
}
/* background colors */
.bg-light { background-color: #f5f5f5 !important; }
.bg-light-blue { background-color: #EAEEF6; }
.bg-light-gray { background-color: #F5F5F5; }
.bg-ink { background-color: var(--ink); }
.bg-marigold { background-color: var(--marigold)}
.bg-cranberry { background-color: var(--cranberry)}

/* buttons */
.btn {
  border-radius: 30px;
  padding: 0.5em 2em;
}
.btn.btn-orange {
  background: var(--tiger-orange);
  color: #fff;
}
.btn.btn-orange:hover {
  background: var(--tiger-orange-hover); 
}

.btn.btn-green,
a.btn.btn-green {
  background: var(--primary-green);  
  border-color: var(--primary-green); 
  color: #fff;
}
.btn.btn-green:hover {
  background: var(--primary-green-hover);  
  border-color: var(--primary-green-hover); 
}
.btn:disabled {
  background: #ccc;
  color: #fff;
  padding-left: 2em;
  padding-right: 2em;
}
.btn-outline-orange {
  border-color: var(--tiger-orange);
  color: var(--tiger-orange);
}
.btn-outline-orange:hover {
  background-color: var(--tiger-orange);
  color: #fff;
}
.btn-block { white-space: initial; }
.btn.btn-white { background: #fff; }
.btn-cerulean {
  background-color: var(--cerulean);
  color: #fff;
}

/* .component:not(.section) + .component,
.component:not(.section) + script + .component {
    margin-top: 1.5em;
}
.component:not([class$="col"]) + [class$="col"] {
  margin-top: 0;
} */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 767px) {
  .negative-margin-container {
    margin-left: -25px;
    margin-right: -25px;
  }
  .pull-up-mobile {
    margin-top: -14%;
    position: relative;
    z-index: 1;
  }
}


/* 3. Type 
------------------------ */
body, p {
  font-size: 16px;
  font-family: 'Open Sans', arial, sans-serif;
}
a {
  font-family: 'Open Sans', arial, sans-serif;
  color: var(--cerulean);
}
a:hover {
  color: var(--cerulean-hover);
}
ul {
  line-height: 1.8em;
}
dl, ol, ul {
  padding-left: 1.5em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  margin-bottom: 1.2rem;
}
h1, .h1 { font-size: 50px; }
h2, .h2{
  font-size: 42px;
}
h3, .h3 {
  font-size: 32px;
  /* line-height: 1.3; */
}
.h4, h4 {
  font-size: 26px;  
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}
@media (max-width: 600px) {
  h1, .h1 { font-size: 30px; }  
  h2, .h2 { font-size: 24px; }
  h3, .h3 { font-size: 20px; }
  h4, .h4 { font-size: 18px; }
  h5, .h5 { font-size: 16px; }
  h6, .h6 { font-size: 16px; }

}
.heading-light { font-weight: 300; }
.underline-title {
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: .3em;
  font-family: 'Open Sans', arial, sans-serif;
}

span.underline-title { display: block; }
img.has-border { border: 1px solid #ccc; }

.text-brilliant-blue { color: var(--brilliant-blue); }
.text-admiral-blue { color: var(--admiral-blue); }
.text-cerulean { color: var(--cerulean); }
.text-ink { color: var(--ink); }
.text-tiger-orange { color: var(--tiger-orange); }
.text-cranberry { color: var(--cranberry); }
.text-marigold { color: var(--marigold); }
.text-seagreen { color: var(--seagreen); }
.text-large { font-size: 26px; }

hr { border-top-color: #ccc; }
.card {
  margin-bottom: 1.5em;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.card-title { font-weight: bold }
.card-img-top { border-radius: 0; }

.table {
  display: block !important;
  width: 100% !important;
  overflow: auto;
}
.table td, .table th {
  padding: 0.7em
}
.table-secondary, .table-secondary>td, .table-secondary>th {
  background-color: #eeee;
}

.cover-image {
  background-size: cover;
  background-position: center;
}

/* 4. Forms 
------------------------ */
form {
  margin-bottom: 1.5em;
}
.required-label {
  color: var(--primary-red)
}
[id^="form-"] .form-field { margin-bottom: 0.8em; }
[id^="form-"] input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
  background-color: var(--cerulean);
  color: #fff;
  border-radius: 30px;
  padding: 0.5em 2em;    
}
[id^="form-"] input[type="submit"]:hover {
  background-color: var(--cerulean-hover);
}
.field-validation-error {
  font-size: 0.9em;
  padding-top: 0.2em;
  color: #f00;
}

/* Media List Item
------------------------ */
.media-list-item {
  /* padding-bottom: 1.5em; */
  margin-bottom: 1.5em;
  /* border-bottom: 1px solid #ccc; */
}

/* Pagination
------------------------ */
.page-link {
  color: var(--primary-blue);
  border-color: transparent; 
  border-radius: 3px;
}
.page-link:hover,
.page-item.disabled .page-link {
  background-color: transparent;
  border-color: transparent;
}
.page-item.active .page-link {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}
.page-item.active .page-link {
  color: #000;
  border-color: transparent;
  font-weight: bold;
  border-bottom: 4px solid #3457A5;
}
/* 5. Header 
------------------------ */

#header a,
#header i,
#header svg {
  color: #fff;
}
#header {
  position: relative;
  z-index: 10;  
}
::-webkit-input-placeholder { color: #fff }
::-moz-placeholder { color: #fff }
:-ms-input-placeholder { color: #fff }
:-moz-placeholder { color: #fff }

@media (max-width: 767px) {
  #header .container {
    padding: 0;
  }
}
.header-bottom {
  background-color: #2B3057; 
}
@media (min-width: 768px) {
  .header-bottom {
    background-color: var(--ink); 
  }
}
.primary-nav {
  background-color: var(--ink); 
  list-style: none;
  margin-bottom: 0;  
}
.header-bottom {
  border-top: 1px solid #4C4F72;
}
.header-bottom .container,
.primary-nav {
  display: flex;
  flex-flow: column;
}
@media (max-width: 990px) {
  .primary-nav a {
      padding-left: 1em;
      padding-right: 1em;
  }    
}
@media (max-width: 767px) {
  .primary-nav a,
  .header-logo {
    padding: 0 25px;
  }
  .primary-nav {
    padding: 0 1em;
  }
  .header-logo {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }  
}
.header-logo {
  max-width: 220px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .header-logo {
      max-width: 180px;
      width: 100%;
  }    
}
#header .btn {
  font-weight: bold;
  font-size: 0.9em;
}
@media (min-width: 768px) {
  .primary-nav { padding-left: 0 }
  .header-bottom .container,
  .primary-nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;    
  }
}
.primary-nav a {
  padding: 0.5em 0;
  font-weight: bold;
  display: block;
  transition: opacity 0.3s ease;
}
.primary-nav a:hover { text-decoration: none; }
.primary-nav .has-children ul a:hover,
.primary-nav > li:not([class="has-children"]) > a:hover { opacity: 0.8; }
.primary-nav ul {
  padding-left: 0;
  list-style: none;
}
.primary-nav > .has-children ul a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
@media (min-width: 768px) {
  .primary-nav a {
    padding: 1em 1.3em;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .primary-nav a {
      font-size: 0.85em;
      padding-left: 0.8em;
      padding-right: 0.8em;        
  }
  #header .btn {
      font-size: 0.85em;
      padding-left: 1em;
      padding-right: 1em;
  }    
}
.has-children { position: relative; }
.has-children > ul{
  display: none;
  top: 100%;
  z-index: 1;
}



@media (min-width: 768px) {
  .primary-nav > .has-children:hover > a,
  .primary-nav > .has-children:hover > ul { background: #3457A5; }
  .primary-nav > .has-children > ul { min-width: 230px; }
  .primary-nav > .has-children:hover > ul {
    position: absolute;
    display: block;
  }  
}

.primary-nav .lvl-3 a { font-weight: normal; }
.primary-nav .lvl-3 {
  margin-left: 1.9em;
  margin-right: 1.9em;
}
@media (min-width: 768px) {
  .primary-nav .lvl-2 > li:last-child { margin-bottom: 1em; }
}
.primary-nav .lvl-3 a {
    padding: 0.3em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.primary-nav .lvl-3 li:last-child a { border-bottom: none; }
.primary-nav li.has-children .fa-chevron-right { display: none; }

@media (max-width: 767px) {
    .primary-nav a {
        padding-left: 1em;
    }
    .primary-nav li.has-children .fa-chevron-right {
        display: block;
        padding: 1em;
        position: absolute;
        top: 3px;
        left: -12px;
        height: 45px;
        width: 45px;        
        font-size: 0.88em;
    }
    .primary-nav li.has-children svg.fa-chevron-right {
      top: 1px;
      left: -13px;
      height: 40px;
      width: 40px;
    }    
    .mobile-nav-children-toggle {
      position: relative;
      z-index: 5;
    }
    .primary-nav li.has-children.is-active > ul { display: block; }
    .primary-nav > .has-children.is-active .fa-chevron-right {
      transform: rotateZ(90deg);
      left: -21px;
    }
    .primary-nav > .has-children.is-active svg.fa-chevron-right {
      left: -14px;
    }
    .primary-nav > .has-children.is-active > ul {
      position: relative;
      background: #3457A5;
    }
    .primary-nav .lvl-2:before,
    .primary-nav .lvl-2:after {
        content: '';
        position: absolute;
        left: -25px;
        top: 0;
        width: 25px;
        display: block;
        background: #3457A5;
        height: 100%;
    }
    .primary-nav .lvl-2:after {
        right: -25px;
        left: auto;
    }
    
}


@media (max-width: 767px) {
  .header-bottom .btn {
    border-radius: 0;
  }
  .header-bottom .primary-nav {
    display: none;
  }
  .header-bottom.is-active .primary-nav {
    display: block;
  }
  .header-bottom .btn-orange {
    display: none;
  }
  .header-bottom.is-active .btn-orange {
    display: block;
    padding: 1em 0;
  }
  .header-bottom.is-active .mobile-nav-toggle img {
    display: none;
  }  
  .header-bottom.is-active .fa-times {
    display: block;
    position: relative; 
    top: -2px;
  }
  
}

/* utility nav */
.header-top {
  background-color: #2B3057;
}
.utility-nav {
  margin-bottom: 0;
  padding: 0.5em 0 0.4em;
  display: flex;
  list-style: none;
  justify-content: flex-end
}
.utility-nav a {
  padding: 0.8em;
  line-height: 1.7em;
}

/* header search */
.header-search { position: relative; }
.header-search form { margin-bottom: 0; }
#header .header-search-icon {
  height: 34px;
  border: 1px solid transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 1;
  padding: 1em 1.5em 1em 0.7em;
  display: block;
  top: 0; 
  line-height: 1.7;
}
#header .header-search-icon:hover { cursor: pointer; }
#header .header-search-icon .fa-search {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  #header .header-search-icon .fa-search { top: -2px; }
}
#header .header-search.is-active .header-search-icon .fa-search { color: var(--tiger-orange); }
#header .header-search.is-active .header-search-icon {
  background: #fff;
  border: 1px solid #fff;
}
.header-search input { transition: all .3s ease; }
.header-search.is-active input {
  border-radius: 30px;
  height: 34px;
  padding: 3px 1.2em;
  border: none;
  width: 300px;
  visibility: visible;
  opacity: 1;
  background: #2b3057;
  border: 1px solid #fff;
  color: #fff;
}
.header-search-input {
  display: none;
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  transform: none;
}
.header-search.is-active .header-search-input { display: block; }

.mobile-search {
  height: 40px;
  margin: 1em 0;
}

#header .mobile-search .header-search-icon {
  position: absolute !important;
  right: 0;
  padding-top: 0.3em;
  padding-right: 1em;
}

.mobile-search .header-search-icon:after { display: none; }
.mobile-search .header-search-input input,
.mobile-search .header-search-input {
  width: 100%;
}
@media (min-width: 768px) {
  .mobile-search {
    display: none;
  }   
}




.header-search-input .btn-submit {
  position: absolute;
  bottom: 5px;
  right: 43px;
  padding: 2px 10px 2px 10px!important;
  font-size: 0.75em !important;
  background: #767daf;
  border-radius: 3px;
/*     border-radius: 0; */
  color: #fff;
  text-transform: uppercase;
}
#header .header-search.is-active .header-search-icon {
  background: #ffffff;
}

.header-search-icon { color: #fff; }
.header-search-icon:after {
  display: block;
  content: '\f002';
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  top: 0;
  color: #ffff;   
}
.header-search.is-active .header-search-icon:after {
  content: '\f00d';
  color: #eb5742; 
  font-size: 1.2em;
}









/* 6. Mobile Nav 
------------------------ */
.mobile-nav-toggle {
  position: absolute;
  right: 1em;
  padding: 0.8em 1em 1em;
}
.mobile-nav-toggle:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }
}
.fa-times {
  display: none;
  font-size: 2em;
}



/* 7. Footer 
------------------------ */
.footer {
  background: var(--ink);
  font-size: 14px;
  color: #fff;
}
.footer p { font-size: 14px }
.footer a { color: #fff; }
.footer ul {
  padding-left: 0;
}

.footer-toggle-container {
  display: none;
}
@media (min-width: 768px) {
  .footer-toggle-container {
    display: block;
  }  
}
.footer-links li {
  margin-bottom: 1em;
}
.footer .follow-links a {
  color: var(--tiger-orange);
}
.footer .follow-links {
  font-size: 1.5em;
}




/* Collapse Nav 
------------------------ */


 /* Breadcrumb
------------------------ */ 
.breadcrumb { 
  background: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 1.5rem;  
}
.breadcrumb a { color: var(--cerulean) }
.breadcrumb .active { color: #9F9F9F; }
.breadcrumb-item+.breadcrumb-item:before {
    color: #9F9F9F;
    content: "\f054";
    font-size: .8em;
    font-weight: bold;
    font-family: "Font Awesome 5 Pro";
}



 /* Tabs
------------------------ */


/* Component | Hero Callout 
------------------------------ */
.hero .container { 
  position: relative;
}
.hero-bg-teal { 
  background-color: rgba(6, 154, 188, 0.85);
  color: #fff;
}
.hero-bg-cerulean { 
  background-color: rgba(60, 174, 163, 0.8);
  color: #fff;
}
.hero-bg-blue { 
  background-color: rgba(52, 87, 167, 0.8);
  color: #fff;
}
.hero-content { padding: 2rem; }
.hero .hero-content { padding: 2rem 1.5em; }
@media (min-width: 768px) {
  .hero-content {
    position: relative;
    width: 50%;
  }
  .hero-title {
    width: 50%;
    position: relative;
  }
  .hero .container {
    padding: 2.2em 0;
  }  
  .hero .hero-content {
    /* top: 50%; */
    padding: 2em;
    /* transform: translateY(-50%);     */
  }
  /* .hero .container { height: 420px; } */
}
.hero-callout-container { position: relative; }
.hero-callout-container img { width: 100%; }
.hero-fit { width: 100% }
@media (min-width: 768px) {
  .hero-callout-container img,
  .hero-fit {
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

/* Side Nav 
------------------------ */


/* Component | Carousel 
--------------------------- */
.component-carousel { margin: 0; }
.component-carousel > .col { padding: 0; }
.hero.carousel {
  overflow: hidden;
  margin-bottom: 0;
}
.hero.carousel .container { padding-bottom: 2.5em; }
.slick-slide img {
  width: 100%;
}
.slick-dots { top: 100%; }
.slick-dots li { margin: 0;}
.slick-dots li button:before {
    font-size: 13px;
    color: #282828;
    opacity: .3;
}
.slick-dots li.slick-active button:before {
    color: var(--tiger-orange);
    opacity: 1;
} 
.carousel-cell {
  position: relative;
}
@media (min-width: 768px) {
  .slick-dots { 
    bottom: 10px;
    top: auto;
  }
  .slick-dots li button:before { color: #fff; }
}





/* Component | Article 2 Col
----------------------------- */
@media (max-width: 480px) {
  .component-article-layout-2-col .col-md-8 img {
      width: 100% !important;
      height: auto !important;    
  }    
}


/* Components | Image 
------------------------ */
.component-image.is-fullwidth img,
img.is-fullwidth,
iframe.is-fullwidth {
  width: 100% !important;
  height: auto !important;
}
.component-image + .component-text { margin-top: 1em; }
@media (min-width: 320px) {
  iframe[src*="youtube"].is-fullwidth {
      min-height: 300px !important;
  }    
}

/* Components | Category List Item 
---------------------------------- */
.component-category-list-item img {
  width: 100%;
  border: solid thin #cccccc;
}
.component-category-list-item ul {
  padding: 0;
  list-style: none;
}
.component-category-list-item li {
  margin-bottom: .5em;
}


/* Components | Industries Listing 
----------------------------------- */
.industries-listing-item {
  height: 270px;
  position: relative;
  display: block;
}
.industries-listing-item-small {
  display: block;
}
.industries-listing-item-small .image-container {
  width: 150px;
  height: 150px;
}
.industries-listing-item-small img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.industries-listing-item:hover { cursor: pointer; }
.industries-listing-col { margin-bottom: 2em; }
.industries-listing-col:last-child { margin-bottom: 0; }
.industries-listing-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.industries-listing-item-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  transition: all .3s ease;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(6, 154, 188, 0.9);
}
.industries-listing-item:hover .industries-listing-item-title { height: 100%; }
.industries-listing-item-small {
  margin-bottom: 1em;
  font-weight: bold;
}
/* Components | Text Callout
----------------------------- */
.component-text-callout .text-callout-border {
  border: 1px solid #ccc;
  padding: 1.2em 1.3em;
}
.component-text-callout .text-callout-border > p:last-child {
  margin-bottom: 0.1em;
}


/* Components | Page Teaser
------------------------ */
.component-page-teaser img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

/* Components | Rich Text
--------------------------- */
/* .component-rich-text > .col > img {
  width: 100%;
} */
.component-rich-text > .col > *:not(h1):last-child,
.component-rich-text > .col > *:not(h2):last-child,
.component-rich-text > .col > *:not(h3):last-child,
.component-rich-text > .col > span *:last-child {
    /* margin-bottom: 0; */
}
@media (max-width: 500px) {
  .component-rich-text img {
      width: 100%;
  }    
}

/* Components | Markets Listing
----------------------------------- */
.component-markets-listing ~ .component-markets-listing { padding-top: 3rem; }
@media (max-width: 767px) {
  .component-markets-listing .bg-marigold { background-color: rgba(235, 184, 44, 0.9); }
  .component-markets-listing .bg-cranberry { background-color: rgba(215, 40, 70, 0.9); }
}

/* Components | Page Teaser
--------------------------- */
.component-employee-listing {
  margin-left: -30px;
  margin-right: -30px;
}
.employee-listing-item img {
  border-radius: 50%;
  width: 170px;
}
.employee-listing-item { padding: 0 1em; }
@media (min-width: 500px) {
  .employee-listing-item { width: 50%; }  
}
@media (min-width: 768px) {
  .employee-listing-item { width: 33.3333%; }  
}
.employee-listing-item .member-name { margin-bottom: 0.1em; }


/* Components | Content Left Image Right
-------------------------------------------- */
@media (min-width: 576px) {
  .component-content-left-image-right img {
    width: 150% !important;
    margin-right: -50%; 
  }
  .component-content-left-image-right.is-hero img {
    width: 170% !important;
    margin-left: -150px;
  }
}
.component-content-left-image-right.is-hero .flex-content {
  color: #fff;
  padding: 2em;
  position: relative;
  z-index: 1;
}

/* back to top */
.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 40px;    
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease;
}
.back-to-top.is-visible {
  opacity: 1;
}
.back-to-top:hover {
  cursor: pointer;
}
.back-to-top * {
  color: #7CB900;
}
.back-to-top i {
  font-size: 2.5em;
}

/* Components | Card
-------------------------------------------- */
.component-card { height: 100%; }
.component-card > .col { display: flex; }

/* Components | Link List
-------------------------------------------- */
.component-link-list a {
  color: var(--brilliant-blue);
}

/* Image Text Callout | Rich Text
--------------------------- */
.image-text-callout a { color: #fff; }
.image-text-callout .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-text-callout .image-container {
  width: 50%;
  height: 350px;
}
@media (min-width: 576px) {
  .image-text-callout .image-container {
    height: 100%;
  } 
}


/* 9. IE 11 
------------- */
@media all and (-ms-high-contrast:none) {
  a {
    color: #016ac9;
  }
  .is-button a,
  .is-button,
  .btn {
    background: #016ac9;
    color: #fff;
  }
  .primary-nav-item.is-button a {
    background: transparent;
  }
}

/* 10. Print 
------------- */
@media print {
  .header,
  .breadcrumb,
  .footer,
  .product-support-box,
  .btn,
  .nav.nav-tabs,
  .carousel-nav {
      display: none;
  }
  
  .component-product-tabs .tab-content *:not(table):not(td):not(tr) {
      display: block;
  }
}


/* 11. RESOURCES
-------------------------------------------- */
.resource-side-nav { 
  display: none;
  background: #EAEEF6;
  padding: 1em;
}
.resource-side-nav a,
.resource-side-nav p { font-size: 0.93em }
.resource-side.is-active .resource-side-nav { 
  display: block;
  margin-top: -1.5em;
}
.resource-side.is-active .fas {
  transform: rotateZ(180deg);
}
.resource-side-nav-toggle {
  background: #EAEEF6;
  padding: 0.6em 1em;
  margin-bottom: 1.5em;
  font-weight: bold;
}
.resource-side-nav-toggle:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .resources-template:after {
      display: block;
      content: '';
      background: #EAEEF6;
      position: fixed;
      width: 25%;
      top:0;
      right: 0;
      height: 100%;
      z-index: -1;
  }
  .resource-side-nav {
    height: 100%;
    display: block;
  }
  .resource-side.is-active .resource-side-nav {
    margin-top: 0;
  }
  .resource-side-nav:before,
  .resource-side-nav:after {
      content: '';
      display: block;
      background: #EAEEF6;
      z-index: -1;
      height: 100%;
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
  }
  .resource-side-nav:after {
      top: auto;
      bottom: -100px;
  }
}
.resource.is-download .download-link {
  color: var(--tiger-orange);
  font-size: .9em;
  font-weight: bold;  
}
.resource.is-download .download-link i {
  background: var(--tiger-orange);
  color: #fff;
  border-radius: 100%;
  padding: 3px 4px;
  text-align: center;
  width: 18px;
  height: 18px;
  font-size: 0.7em;
  position: relative;
  top: -2px;
  margin-left: 3px;    
}

/* 12. SECTION OVERRIDES
-------------------------------------------- */

/* Page - Who */
@media (min-width: 600px) {
  .who-section-what-we-value h2,
  .who-section-what-we-value h3 {
      font-size: 26px;
  }    
}
.who-section-what-we-value .col-sm-6:nth-child(2n+1) h3 { color: #d72846; }
.who-section-what-we-value .col-sm-6:nth-child(2n+2) h3 { color: #ebb82c; }
.who-section-what-we-value .col-sm-6:nth-child(2n+3) h3 { color: #3caea3; }
.who-section-what-we-value .col-sm-6:nth-child(2n+4) h3 { color: #3457a5; }