﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="section component component-section">
    <div class="container">
        <div class="row component component-1-col">
            <div class="col">
                <div class="component-text">
                    <h1>Oops!</h1>
                    <p>
                        The page you are looking for might have been removed, had its name changed or is temporarily unavailable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

