﻿@using CMS.Search

@model Chromascape.Models.PageViewModel

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<section class="section component component-section">
    <div class="container">
        <div class="row component component-1-col">
            <div class="col">
                <h1>
                    Search Results
                </h1>
                <h2>
                    You searched for "@Model.SearchVM.Query"
                </h2>
            </div>
        </div>

        @if (Model.SearchVM.Items == null || Model.SearchVM.Items.Count == 0)
        {
            <div class="row component component-link-list">
                <div class="col">
                    <div class="text-center">
                        <h3>No search results were found.</h3>
                    </div>
                </div>
            </div>
        }

        @if (Model.SearchVM.Items != null && Model.SearchVM.Items.Count > 0)
        {
            <div class="row component component-link-list">
                <div class="col">
                    <div class="text-center">
                        <ul class="list-unstyled d-inline-block">
                            @foreach (SearchResultItem item in Model.SearchVM.Items)
                            {
                                string itemUrl = item.Data.GetValue("DocumentNamePath").ToString().Replace(' ', '-');
                                string itemName = (item.Data.GetValue("DocumentPageTitle") != null) ? item.Data.GetValue("DocumentPageTitle").ToString().Replace(" | ChromaScape", "") : 
                                    item.Data.GetValue("DocumentName").ToString();

                                <li class="py-3">
                                    <a href="@itemUrl" class="media">
                                        <div class="media-body">
                                            <p class="mb-0">
                                                <strong>
                                                    @itemName
                                                </strong>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
