{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}

{% block pageSpecificMeta %}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}

{% block content %}


{{ c.section('container', 'pb-2 pt-3', '', '', 
  [
    {component: c.1_col([
      {component:  c.date_line('
        <div class="d-flex flex-row justify-content-between align-items-center">
          <h2>Title</h2>
          <p><small>July 2018</small></p>  
        </div>
      '|safe)} 
    ])}
  ]
)}}


  {{ c.section('container', 'pb-5 pt-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>Products & Services Style List</h3>'|safe)} 
      ])},       
      {component: c.3_col(
        c.category_list_item('
          <p><img src="http://placehold.it/300x200"></p>
          <h3 class="underline-title h5">Surgical Equipment & Image Management</h3>
          <ul class="arrow-list">
            <li><a href="#">Supports infection prevention measures with Velcro-free table pad attachment and sleek side rails for easier cleaning</a></li>
            <li><a href="#">Provides unrestricted surgical access with removable leg section and shorter base at foot end</a></li>
            <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
            <li><strong>Supports virtually all general and bariatric</strong> procedures including cardiac, endoscopic and neurology</li>
          </ul>
        '|safe),
        c.category_list_item('
          <p><img src="http://placehold.it/300x200"></p>
          <h3 class="underline-title h5">Surgical Equipment & Image Management</h3>
          <ul class="arrow-list">
            <li><a href="#">Supports infection prevention measures with Velcro-free table pad attachment and sleek side rails for easier cleaning</a></li>
            <li><a href="#">Provides unrestricted surgical access with removable leg section and shorter base at foot end</a></li>
            <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
            <li><strong>Supports virtually all general and bariatric</strong> procedures including cardiac, endoscopic and neurology</li>
          </ul>
          <h3 class="underline-title h5"><a href="#">Surgical Equipment & Image Management</a></h3>
          <ul class="arrow-list">
            <li><a href="#">Supports infection prevention measures with Velcro-free table pad attachment and sleek side rails for easier cleaning</a></li>
            <li><a href="#">Provides unrestricted surgical access with removable leg section and shorter base at foot end</a></li>
            <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
            <li><strong>Supports virtually all general and bariatric</strong> procedures including cardiac, endoscopic and neurology</li>
          </ul>          
        '|safe),
        c.category_list_item('
          <p><img src="http://placehold.it/300x200"></p>
          <h3 class="underline-title h5">Surgical Equipment & Image Management</h3>
          <ul class="arrow-list">
            <li><a href="#">Supports infection prevention measures with Velcro-free table pad attachment and sleek side rails for easier cleaning</a></li>
            <li><a href="#">Provides unrestricted surgical access with removable leg section and shorter base at foot end</a></li>
            <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
            <li><strong>Supports virtually all general and bariatric</strong> procedures including cardiac, endoscopic and neurology</li>
          </ul>
        '|safe)
      )}
    ]
  )}}

  {{ c.section('container', 'pb-5 pt-5', '', '', 
    [
      {component: c.1_col([
       {component:  c.rich_text('<h3>Text Callout</h3>'|safe)} 
      ])},      
      {component: c.1_col([
       {component:  c.text_callout()} 
      ])}
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.1_col([
       {component:  c.rich_text('<h3>Standard Carousel</h3>'|safe)} 
      ])},         
      {component: c.hero('carousel') }
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.1_col([
       {component:  c.rich_text('<h3>2 Image Components, 1 with full-width option</h3>'|safe)} 
      ])},       
      {component: c.2_col(
        c.image('http://placehold.it/400x250', '', ''),
        c.image('http://placehold.it/400x250', '', 'is-fullwidth')
      )}
    ],
   '' 
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>Category List Items</h3>'|safe)} 
      ])},       
      {component: c.3_col(
        c.category_list_item('
          <h3 class="underline-title h5"><a href="#">Surgical Equipment & Image Management</a></h3>
          <p><img src="http://placehold.it/300x200"></p>
          <ul>
            <li><a href="#">Surgical Tables</a></li>
            <li><a href="#">Surgical Table Accessories</a></li>
            <li><a href="#">Surgical Lights and Examination Lights</a></li>
          </ul>
        '|safe),
        c.category_list_item('
          <h3 class="underline-title h5"><a href="#">Surgical Equipment & Image Management</a></h3>
          <p><img src="http://placehold.it/300x200"></p>
          <ul>
            <li><a href="#">Surgical Tables</a></li>
            <li><a href="#">Surgical Table Accessories</a></li>
            <li><a href="#">Surgical Lights and Examination Lights</a></li>
          </ul>
        '|safe),
        c.category_list_item('
          <h3 class="underline-title h5"><a href="#">Surgical Equipment & Image Management</h3>
          <p><img src="http://placehold.it/300x200"></p>
          <ul>
            <li><a href="#">Surgical Tables</a></li>
            <li><a href="#">Surgical Table Accessories</a></li>
            <li><a href="#">Surgical Lights and Examination Lights</a></li>
          </ul>
        '|safe)
      )}
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>Component Bottom Feature</h3>'|safe)} 
      ])},         
      {component: c.1_col([
        {component: c.bottom_feature()}
      ])}
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>2 Col > Rich Text, Category Cloud </h3>'|safe)} 
      ])},       
      {component: c.article_layout_2_col_swapped(
        c.rich_text("
          <h4>Surgical Tables</h4>
          <p>A superior operating table is the foundation for better patient outcomes. Versatile, easy-to-use and built for today's procedures, STERIS's wide range of surgical tables, exam tables, and orthopedic tables provide a solution for every operating room and budget.</p>
        "|safe),
        c.category_cloud()
      )}
    ]
  )}}  
      
  {{ c.section('container', 'pb-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>2 Col > Page Teaser Component </h3>'|safe)} 
      ])},       
      {component: c.2_col(
        c.page_teaser('
          <h3 class="underline-title h5"><a href="#">STERIS 5085 HARMONY™ SURGICAL TABLE</a></h3>
          <p><img class="is-fullwidth" src="http://placehold.it/300x200"></p>
          <ul class="arrow-list">
            <li><a href="#">Supports infection prevention measures with Velcro-free table pad attachment and sleek side rails for easier cleaning</a></li>
            <li><a href="#">Provides unrestricted surgical access with removable leg section and shorter base at foot end</a></li>
            <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
            <li><strong>Supports virtually all general and bariatric</strong> procedures including cardiac, endoscopic and neurology</li>
          </ul>
        '|safe),
        c.page_teaser('
          <h3 class="underline-title h5"><a href="#">STERIS 5085 SRT SURGICAL TABLE</a></h3>
          <p><img class="is-fullwidth" src="http://placehold.it/300x200"></p>
          <ul>
            <li>Slide, 360° Rotate and Transport capabilities</li>
            <li>Largest clinically-relevant image area</li>
            <li>Generous patient height and weight ranges in a sliding top design for improved imaging</li>
          </ul>
        '|safe)
      )}
    ]
  )}}


  {{ c.section('container', '', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>Breadcrumbs</h3>'|safe)} 
      ])}
    ]
  )}}

{% include 'partials/breadcrumb.njk' %}   
   
  {{ c.section('container', 'pb-5 pt-5', '', '', 
    [
     {component: c.1_col([
       {component:  c.rich_text('<h3>2 Col > Product Carousel, Rich Text</h3>'|safe)} 
      ])},       
      {component: c.2_col(
        c.productCarousel(),
        c.rich_text('
        <h1 class="h3">STERIS 5085 Harmony<sup>™</sup> Surgical Table</h1>
        <ul>
          <li><strong>Supports infection prevention measures</strong> with hook and loop fastener-free table pad attachment and sleek side rails for easier cleaning</li>
          <li><strong>Provides unrestricted surgical access</strong> with removable leg section and shorter base at foot end</li>
          <li><strong>Accommodates virtually all patients</strong> with generous weight (up to 1,200 lbs.) and height ranges</li>
          <li><strong>Enhances lateral procedures</strong> with a powered, radiolucent kidney elevator</li>
          <li><strong>Supports virtually all general and bariatric procedures</strong> including cardiac, endoscopic and neurology</li>
        </ul>
        <button class="btn btn-green">Request a Quote</button>' | safe)
      )}
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.article_layout_2_col_swapped(
        c.tabs('
        <p><strong>Experience Fluid Motion</strong></p>
        <p>Designed with advanced controls and unrestricted access to the operative site, the STERIS OT 1000 Series Orthopedic Surgical Table maximizes operational efficiency while maintaining patient and staff safety.</p>
        <p><button class="btn btn-primary">REQUEST A FREE TRIAL DEMONSTRATION</button></p>
        <p><strong>Enhance Patient Positioning: Unsurpassed Range of Motion for Access at Every Point</strong></p>
        <ul>
          <li>Simple positioning with repeatable accuracy for a <strong>wide range of patients</strong> up to seven feet tall</li>
          <li><strong>Precise</strong> control for clinicians through innovative SWAN technology within the ortho surgical table</li>
          <li><strong>Improved patient airway access</strong> for anesthesia provider through articulating headrest</li>
          <li>Easy access to patient with unobstructed foot clearance and powered table articulations for clinicians</li>
        </ul>
        <p><strong>Increase Productivity: Swift, Accurate Maneuverability for Continuous Control</strong></p>
        <ul>
          <li>Intuitive design and SWAN control that any staff member can use with minimal training required</li>
          <li>Ease of use allows for single user functionality which eliminates the need to schedule a dedicated staff</li>
          <li>Continuous accurate performance improves case turnover times</li>
          <li>Innovative drive function allows a single user to quickly move the ortho surgical table from room to room for quicker room set-ups*</li>
        </ul>        
        '|safe),
        c.product_support()
      )}
    ]
  )}}       

{% endblock %}