{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}

{% block pageSpecificMeta %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
{% endblock %}

{% block content %}

  {{ c.section('', 'pb-5', '', '', 
    [
      {component: c.hero('carousel') }
    ]
  )}}
  

  {{ c.section('container', '', '', '', 
    [
      {component: c.article_layout_3_col(
        c.generic('spacer', ''),
        c.rich_text('
          <span class="text-center">
          <h2>Markets</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
          </span>'
          |safe),
        c.generic('spacer', '')
      )}
    ]
  )}}

<div class="component-markets-listing">
  {{ c.section('container', 'pb-5 pt-5', '', '', 
    [
      {component: c.market('
      <div class="d-flex flex-column flex-md-row align-stretch justify-content-center image-text-callout">
        <div class="negative-margin-container">
          <div class="image-container w-100">
            <img src="http://placehold.it/1100x650">
          </div>
        </div>
        <div class="text-container py-5 px-3 pull-up-mobile text-center text-white bg-marigold d-flex flex-column justify-content-center w-100">
          <h3 class="h2 mb-0"><a href="#">Landscape</a></h3>
          <p class="text-ink"><small>INDUSTRIES SERVED:</small></p>
          <ul class="list-unstyled">
            <li><a href="#">Mulch Colorant</a></li>
            <li><a href="#">Mulch Equipment</a></li>
            <li><a href="#">Aggregate Colorants</a></li>
            <li><a href="#">Rubber Colorants</a></li>
            <li><a href="#">Decorative Concrete</a></li>
            <li><a href="#">Asphalt / Sealer</a></li>
          </ul>
        </div>
      </div>'|safe)}
    ],
   '' 
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.market('
      <div class="d-flex flex-column flex-md-row align-stretch justify-content-center image-text-callout">
        <div class="negative-margin-container order-1 order-md-2">
          <div class="image-container w-100">
            <img src="http://placehold.it/1100x650">
          </div>
        </div>
        <div class="text-container py-5 px-3 pull-up-mobile text-center text-white order-2 order-md-1 bg-cranberry d-flex flex-column justify-content-center w-100">
          <h3 class="h2 mb-0"><a href="#">Custom Dispersions</a></h3>
          <p class="text-ink"><small>INDUSTRIES SERVED:</small></p>
          <ul class="list-unstyled">
            <li><a href="#">Mulch Colorant</a></li>
            <li><a href="#">Mulch Equipment</a></li>
            <li><a href="#">Aggregate Colorants</a></li>
            <li><a href="#">Rubber Colorants</a></li>
            <li><a href="#">Decorative Concrete</a></li>
            <li><a href="#">Asphalt / Sealer</a></li>
          </ul>
        </div>
      </div>'|safe)}
    ],
   '' 
  )}}
</div>

  {{ c.section('container', 'pt-5 pb-5 bg-light-blue', '', '', 
    [
    { component: c.rich_text('
        <h2 class="text-center">PRODUCT & SERVICE BRANDS</h2>'
        |safe)      
    },
    { component: c.4_col(
      c.generic('card', '
        <div class="card">
          <img src="http://placehold.it/300x150" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">Amerimulch</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed diam nonumy eirmod tempor.</p>
            <a href="#" class="text-brilliant-blue">Learn more <i class="fal fa-angle-right"></i></a>
          </div>
        </div>      
      '|safe),
      c.generic('card', '
        <div class="card">
          <img src="http://placehold.it/300x150" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">Amerimulch</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed diam nonumy eirmod tempor.</p>
            <a href="#" class="text-brilliant-blue">Learn more <i class="fal fa-angle-right"></i></a>
          </div>
        </div>      
      '|safe),
      c.generic('card', '
        <div class="card">
          <img src="http://placehold.it/300x150" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">Amerimulch</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed diam nonumy eirmod tempor.</p>
            <a href="#" class="text-brilliant-blue">Learn more <i class="fal fa-angle-right"></i></a>
          </div>
        </div>      
      '|safe),
      c.generic('card', '
        <div class="card">
          <img src="http://placehold.it/300x150" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">Amerimulch</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed diam nonumy eirmod tempor.</p>
            <a href="#" class="text-brilliant-blue">Learn more <i class="fal fa-angle-right"></i></a>
          </div>
        </div>      
      '|safe)            
    )}
    ]
  )}}  


  {{ c.section('container', 'pt-5 pb-5', '', '', 
    [
      {component: c.hero('callout') }
    ]
  )}}


  {{ c.section('container', 'pb-5', '', '', 
    [
    { component: c.2_col(
      c.generic('blog-listing-feature', '
        <h2>News &amp; Events</h2>
        <h4 class="heading-light">News Headline One</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed.</p>
        <p><a href="#" class="text-brilliant-blue">Read more</a></p>
        <p><a href="#" class="btn btn-outline-orange">See all news &amp; events</a></p>  
      '|safe),
      c.generic('blog-listing-feature', '
        <h2>News &amp; Events</h2>
        <h4 class="heading-light">News Headline One</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed.</p>
        <p><a href="#" class="text-brilliant-blue">Read more</a></p>
        <p><a href="#" class="btn btn-outline-orange">See all news &amp; events</a></p>
      '|safe)
    )}
    ]
  )}}  



{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}