{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}


{% block content %}

  {% include 'partials/breadcrumb.njk' %}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.rich_text('
      <h1>Amerimulch</h1>'|safe) }
    ]
  )}}


  {{ c.section('container', 'pb-5', '', '', 
    [
    { component: c.generic('content-left-image-right is-hero','
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex h-100 align-items-center">
            <div class="flex-content hero-bg-teal">
              <h2>Who We Are</h2>
              <p>We’re personally committed to working with mulch producers across the country to help them operate more efficiently and profitably – all part of our Real Tangible Value© promise, which lasts long after the sale, and we mean it. We travel to your site regularly to optimize your production process, review your pricing models and do everything we can to ensure your operation is achieving its greatest profit potential.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="http://placehold.it/800x400" class="w-100" alt="...">
        </div>
      </div>
    '|safe) }
    ]
  )}}  


  {{ c.section('container', 'pt-5 pb-5', '', '', 
    [
      {component: c.2_col(
        c.rich_text('
        <p class="text-large">As the original inventor of colored mulch, Amerimulch has long had a spirit of innovation and thinking beyond the status quo.</p>' | safe),
        c.rich_text('
        <p>We’re continuously creating, testing and improving industry-leading equipment, Heartland® enriched colorants and mulch-business methods.</p>
        <p>As an American-owned company, we see you as more than a customer. We see you as a valuable part of our team. Welcome to Amerimulch. Together, we can color the world.</p>' | safe)
      )}
    ]
  )}}  

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.rich_text('
      <span class="text-center">
        <h2>Amerimulch Products</h2>
      </span>'|safe) }
    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.2_col(
        c.rich_text('
        <p class="text-center"><img src="http://placehold.it/300x200"></p>
        <h3>Coloring Systems</h3>
        <p>Mulch production doesn’t get any easier than this. Forget parts wearing out, shafts jamming, and paddles breaking. This no-wear, low-maintenance system produces up to 350* cubic, color-enriched yards per hour and is made of tough steel and powerful peristaltic pumps. Our newly designed colorant and water-spray delivery system dramatically reduces water and colorant use rates per yard. For producers who want a simple, effective, high-volume system for coloring mulches, this is it.</p> 
        <p>The system comes with the Amerimulch® commitment of total customer satisfaction and Real Tangible Value©. For maximum performance, always use Heartland® Enriched Colorants.</p>' | safe),
        c.rich_text('
        <p class="text-center"><img src="http://placehold.it/300x200"></p>
        <h3>Color Injection Systems</h3>
        <p>The real value of the Spitfire® system that cannot be overlooked is this: It eliminates one additional handling step in the colored mulch production process. Think about it. If you’ve ever stopped to calculate the real cost of handling wood fiber, you know the savings from eliminating the time, labor, fuel, repair and maintenance costs associated with transporting screened/ground mulch can easily add up to $1.00 per yard. That’s a significant savings, whether you’re producing 10,000 yards or 200,000.</p>' | safe)
      )}
    ]
  )}}


  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.2_col(
        c.rich_text('
        <p class="text-center"><img src="http://placehold.it/300x200"></p>
        <h3>Volume Measuring System</h3>
        <p>Get accurate production, water and colorant use rates in a simple, consistent, straightforward manner with the Marksman™ Platinum. The Marksman Platinum integrates with your Amerimulch® ColorTrom® or any other production unit and will allow operators to monitor and adjust to changing production rates quickly and easily. The system adjusts to any production variances — eliminating errors in colorant and water application. The Marksman Platinum is a tool to help you manage your business! Comes with the Amerimulch commitment of total customer satisfaction. For optimal performance, always use Heartland® Enriched Colorants.</p>
        <p><a href="#" class="text-tiger-orange"><strong>Contact us for details</strong></a></p>' | safe),
        c.rich_text('
        <p class="text-center"><img src="http://placehold.it/300x200"></p>
        <h3>Colorants</h3>
        <p>Color is life. And at Amerimulch®, we make life a little brighter. Whatever the landscape, from mulch to aggregates to rubber, we can do it all… and do it brilliantly. Amerimulch blends advanced technical competence with innovation and years of experience to bring you the best mulch colorant in each industry known for vibrancy, durability and environmental safety. Amerimulch colorants deliver Real Tangible Value© landscape after landscape.</p>' | safe)
      )}
    ]
  )}}  



  {{ c.section('', 'pb-5', '', '', 
    [
      {component: c.hero('', '
          <div class="hero-content pull-up-mobile hero-bg-cerulean">
            <h2>A Title</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
            <p><a class="btn btn-orange" href="#">Order Now</a></p>
          </div>      
      '|safe) }
    ]
  )}}
  

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.rich_text('
      <span class="text-center">
        <h2>Links &amp; Downloads</h2>
      </span>
      '|safe) }

    ]
  )}}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.2_col(
        c.generic('link-list', '
        <div class="text-center">
          <ul class="list-unstyled d-inline-block">
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-external-link"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-file-pdf mr-2"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-external-link"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>                    
          </ul>
        </div>'
        | safe),
        c.generic('link-list', '
        <div class="text-center">
          <ul class="list-unstyled d-inline-block">
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-external-link"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-file-pdf mr-2"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>
            <li class="py-3">
              <a href="#" class="media">
                <p class="align-self-center mr-2 mb-0"><strong><i class="fas fa-external-link"></i></strong></p>
                <div class="media-body">
                  <p class="mb-0">
                    <strong>LINK OUT TITLE WOULD GO HERE</strong>
                  </p>
                </div>
              </a>
            </li>                    
          </ul>
        </div>'
        | safe)
      )}

    ]
  )}}    



{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}