{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}


{% block content %}

  {% include 'partials/breadcrumb.njk' %}

  {{ c.section('container', 'pb-5', '', '', 
    [
      {component: c.rich_text('
      <h1>Landscape</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum no sea et nor takimata sanctus est Lorem ipsum dolor.</p>'|safe) }
    ]
  )}}

  {{ c.section('container', '', '', '', 
    [
      {component: c.rich_text('
      <h2>Industries Served</h2>'|safe) }
    ]
  )}}  

  {{ c.section('container', 'pb-5', '', '', 
    [
      { component: c.generic('industries-listing', '


      <div class="d-block d-sm-none">
        <a href="#" class="d-flex align-items-center industries-listing-item-small">
          <div class="image-container">
            <img src="http://placehold.it/100x60" alt="...">
          </div>
          <p class="ml-3 mb-0">Mulch Colorant</p>
        </a>
        <a href="#" class="d-flex align-items-center industries-listing-item-small">
          <div class="image-container">
            <img src="http://placehold.it/100x60" alt="...">
          </div>
          <p class="ml-3 mb-0">Mulch Colorant</p>
        </a>        
  
      </div>

      <div class="row d-none d-sm-flex">
        <div class="col-sm-6 col-md-4 industries-listing-col">
          <a href="#" class="industries-listing-item">
            <img src="http://placehold.it/180x180" alt="...">
            <div class="industries-listing-item-title">Mulch Colorant</div>
          </a>
        </div>
          <div class="col-sm-6 col-md-4 industries-listing-col">
            <a href="#" class="industries-listing-item">
              <img src="http://placehold.it/180x180" alt="...">
              <div class="industries-listing-item-title">Mulch Colorant</div>
            </a>
        </div> 
          <div class="col-sm-6 col-md-4 industries-listing-col">
            <a href="#" class="industries-listing-item">
              <img src="http://placehold.it/180x180" alt="...">
              <div class="industries-listing-item-title">Mulch Colorant</div>
            </a>
        </div>
          <div class="col-sm-6 col-md-4 industries-listing-col">
            <a href="#" class="industries-listing-item">
              <img src="http://placehold.it/180x180" alt="...">
              <div class="industries-listing-item-title">Mulch Colorant</div>
            </a>
        </div>       
       </div>              
        '|safe)}
    ]
  )}} 


{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}