{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}

{% set bodyClass = 'resources-template resources-detail' %}

{% block content %}

{% include 'partials/breadcrumb.njk' %}

  <section class="section pb-5">
    <div class="container">
      <div class="row">
        <div class="resource-side col-md-3 order-md-2">
          <div class="d-block d-md-none resource-side-nav-toggle">
            <div class="d-flex align-items-center justify-content-between">Filter &amp; Sort <i class="fas fa-angle-up"></i></div>
          </div>
          <aside class="resource-side-nav pl-md-3 mb-4 mb-md-0 pl-md-3">
            <div class="resource-link-group mb-5">
              <h3 class="h5">Topic / Category</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>MULCH (000)</strong></a></li>
                <li><a href=""><strong>CONCRETE & PAVEMENT (000)</strong></a></li>
                <li><a href=""><strong>CUSTOM DISPERSIONS (000)</strong></a></li>
                <li><a href=""><strong>BUILDING MATERIALS (00)</strong></a></li>
                <li><a href=""><strong>GRAPHIC ARTS (00)</strong></a></li>
                <li><a href=""><strong>PAINT & INK (00)</strong></a></li>
                <li><a href=""><strong>PAPER (00)</strong></a></li>
                <li><a href=""><strong>CONDUCTIVE / RESISTIVE (0)</strong></a></li>
                <li><a href=""><strong>ADD OTHER TOPICS (0)</strong></a></li>
              </ul>             
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Additional Filters</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>This is still TBD depending on the  chosen CMS</strong></a></li>
              </ul>           
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Additional Filters</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>This is still TBD depending on the  chosen CMS</strong></a></li>
              </ul>           
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Want to try a sample?</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>     
              <a href="#" class="btn btn-orange">Request a sample</a>
            </div>              
            <div class="resource-link-group mb-5">
              <p>For the Blog and News & Events Listings pages, we will use the same template but will show more text.</p>
              <p>For all listings, the whole listing should link to the blog post or link, etc.</p>     
            </div>          
          </aside>
        </div>
        <div class="col-md-9 order-md-1">
          <main class="pr-md-3">
            <h1 class="h3 mb-4">Understanding the Risks and Responsibilities When Using Dry Colorants</h1>
            <div class="resource-detail-featured-image-container mb-4">
              <img src="http://placehold.it/1000x500" class="is-fullwidth">
            </div>
            <p>Amerimulch has a history of supplying products specifically formulated for color-enriched mulch that dates back to when the industry was created, in the early 1990s. Over that span of time, we have sold both liquid and dry systems for manufacturing color-enriched mulch. At one point, dry colorants represented over 75 percent of our annual colorant sales. Today we do not offer dry colorants for sale for compelling reasons, detailed below.</p>
            <p>ChromaScape, our operating company, has four colorant and additive manufacturing facilities across the United States. These plants handle high volumes of dry pigments on a daily basis. That, along with the fact that ChromaScape leadership has over fifty years of dry pigment processing experience, demands that we fully understand the risks and regulatory requirements for us to maintain a safe work place for our employees, the environment and the community. We follow the required procedures when handling dry colorants and don’t “look the other way” to save a dollar.</p>
            <p>Amerimulch is made up of people with the expertise to serve the mulch industry as market leaders in colorant products, service and equipment technology offerings. The Amerimulch team has always focused on finding ways to help you grow your business, reduce costs and provide you with security in product performance and regulatory compliance. Below is a short list of health, safety and environmental requirements when handling dry colorants.</p>
            <h4>Health and safety requirements:</h4>
            <ul>
              <li>
                Solid dry pigment has two primary health hazards that must be controlled;
                <ul>
                  <li>Certain colors are suspect human carcinogens.</li>
                  <li>Chronic exposure to respirable particulate of pigment leads to chronic respiratory illness. Exposure must be prevented according to regulation. </li>
                </ul>
              </li>
              <li>
                Employers must provide respiratory protection in compliance with OSHA requirements. Requirements include:
                <ul>
                  <li>Annual training to employees regarding safe respirator use.</li>
                  <li>Written procedures of a respiratory safety program.</li>
                  <li>Industrial hygiene monitoring to determine exposure level.</li>
                  <li>Medical monitoring for each employee.</li>
                  <li>Respirator fit testing to assure effectiveness.</li>
                  <li>Various filter cartridges with a selection guide.</li>
                  <li>Provide a method for cleaning and storing respirators.</li>
                  <li>Individually issued respirators which cannot be re-issued.</li>
                  <li>Dust collection systems.</li>
                  <li>Maintenance and repair of dust collection.</li>
                  <li>Pigment dust is potentially combustible and explosive.</li>
                  <li>Explosion testing must be conducted through specialized independent labs.</li>
                  <li>Explosion prevention plans are required.</li>
                  <li>Written hazard communication procedure on maintaining labeling and safety data sheets (SDS) for pigments.</li>
                </ul>
              </li>              
            </ul>

            <h4>Environmental requirements:</h4>
            <ul>
              <li>Employers must provide a written storm water pollution prevention plan.</li>
              <li>Prevent contamination of storm water by pigments.</li>
              <li>Maintain spill response equipment.</li>
              <li>Apply for storm water permit and maintain all requirements of the EPA permit.</li>
              <li>Prevent all airborne emissions of pigment dust.</li>
              <li>Submit sampling and analysis of storm water to demonstrate compliance.</li>
              <li>Contain all cleanout rinse water which cannot be discharged to storm water or sanitary sewer lines</li>
            </ul>

            <p>Liquid colorants do come with their own set of proper handling procedures and environmental handling
            requirements. They have no potential for respiratory exposure and no potential for air emissions. The risk of storm water contamination is far easier to manage with liquid colorants. In summary, liquid colorants need to be managed but are far safer and more environmentally friendly than dry colorants.</p>
            <p>Beyond the environmental, health and safety concerns, the initial benefits of using dry colorants have all but vanished. The continued erosion of liquid colorant pricing in the market has eliminated the total per-yard coloring cost benefit found in dry colorant. Liquid colorants can be applied in many application systems at a highly accurate rate. Dry coloring systems have not evolved and are crudely applied in a variety of ways, most of which pose a health threat to employees and the community. Each of these application systems require an additional handling step and all must be processed through a grinder at least once, but typically twice. These handling costs far outweigh any savings that might remain on a per-yard application basis.</p>
            <p>The only remaining benefit to utilizing dry colorants over liquid is that dry cannot freeze during peak winter months. While it will not freeze, it still requires special handling and storing. Dry colorants must be housed year-round in a location free from the elements. Dry colorant that has been converted to liquid does bring benefits to product performance that offset colorant in liquid form. By dispersing the dry colorant into liquid it allows each particle of colorant to be available to coat wood fiber – there is no way to achieve this in a dry process. In addition, the value-added ingredients found in a liquid formulation elevate the performance of colorant to a higher level than raw dry colorants.</p>
            <p>All companies have choices on how their employees will be treated and how they will work to protect their environment and community. ChromaScape has made the calculated decision not to support the use of dry colorants for those reasons.</p>

            <div class="read-more-section pt-4">
              <h3 class="mb-4">Further Reading</h3>
              <div class="resource mb-4">
                <div class="d-md-flex flex-align-center">
                  <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                  <div class="media-body">
                    <h5 class="resource-title mt-0"><strong>Center-aligned media</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                    <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                  </div>
                </div>
              </div>

              <div class="resource mb-4">
                <div class="d-md-flex flex-align-center">
                  <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                  <div class="media-body">
                    <h5 class="resource-title mt-0"><strong>Center-aligned media</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                    <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                  </div>
                </div>
              </div> 

              <div class="resource mb-4">
                <div class="d-md-flex flex-align-center">
                  <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                  <div class="media-body">
                    <h5 class="resource-title mt-0"><strong>Center-aligned media</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                    <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                  </div>
                </div>
              </div>               
            </div>                       
          </main>
        </div>
      </div>
    </div>
  </section>


{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}