{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}

{% set bodyClass = 'resources-template' %}

{% block content %}

{% include 'partials/breadcrumb.njk' %}

  <section class="section pb-5">
    <div class="container">
      <div class="row">
        <div class="resource-side col-md-3 order-md-2">
          <div class="d-block d-md-none resource-side-nav-toggle">
            <div class="d-flex align-items-center justify-content-between">Filter &amp; Sort <i class="fas fa-angle-up"></i></div>
          </div>
          <aside class="resource-side-nav pl-md-3 mb-4 mb-md-0 pl-md-3">
            <div class="resource-link-group mb-5">
              <h3 class="h5">Topic / Category</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>MULCH (000)</strong></a></li>
                <li><a href=""><strong>CONCRETE & PAVEMENT (000)</strong></a></li>
                <li><a href=""><strong>CUSTOM DISPERSIONS (000)</strong></a></li>
                <li><a href=""><strong>BUILDING MATERIALS (00)</strong></a></li>
                <li><a href=""><strong>GRAPHIC ARTS (00)</strong></a></li>
                <li><a href=""><strong>PAINT & INK (00)</strong></a></li>
                <li><a href=""><strong>PAPER (00)</strong></a></li>
                <li><a href=""><strong>CONDUCTIVE / RESISTIVE (0)</strong></a></li>
                <li><a href=""><strong>ADD OTHER TOPICS (0)</strong></a></li>
              </ul>             
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Additional Filters</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>This is still TBD depending on the  chosen CMS</strong></a></li>
              </ul>           
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Additional Filters</h3>
              <ul class="list-unstyled">
                <li><a href=""><strong>This is still TBD depending on the  chosen CMS</strong></a></li>
              </ul>           
            </div>
            <div class="resource-link-group mb-5">
              <h3 class="h5">Want to try a sample?</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>     
              <a href="#" class="btn btn-orange">Request a sample</a>
            </div>              
            <div class="resource-link-group mb-5">
              <p>For the Blog and News & Events Listings pages, we will use the same template but will show more text.</p>
              <p>For all listings, the whole listing should link to the blog post or link, etc.</p>     
            </div>          
          </aside>
        </div>
        <div class="col-md-9 order-md-1">
          <main class="pr-md-3">
            <h1>RESOURCES</h1>
            <div class="featured-resource mb-5">
              <div class="row"> 
                <div class="col-sm-6">
                  <img src="http://placehold.it/350x300" class="align-self-center mb-3 mb-md-0 mr-md-3 is-fullwidth" alt="...">
                </div>
                <div class="col-sm-6">
                  <div class="media-body">
                    <h2 class="resource-title h3 mt-0">Understanding the Risks and Responsibilities When Using Dry Colorants</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu.</p>
                    <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                  </div>              
                </div>
              </div>
            </div>
            <div class="resource is-download mb-4">
              <div class="d-md-flex flex-align-center">
                <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                <div class="media-body">
                  <h5 class="resource-title mt-0"><strong>Downloadable File</strong></h5>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                  <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                  <p class="mb-0"><a href="#" class="download-link">DOWNLOAD <i class="fas fa-arrow-alt-to-bottom"></i></a></p>
                </div>
              </div>
            </div>

            <div class="resource mb-4">
              <div class="d-md-flex flex-align-center">
                <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                <div class="media-body">
                  <h5 class="resource-title mt-0"><strong>Center-aligned media</strong></h5>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                  <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                </div>
              </div>
            </div>

            <div class="resource mb-4">
              <div class="d-md-flex flex-align-center">
                <img src="http://placehold.it/120x130" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                <div class="media-body">
                  <h5 class="resource-title mt-0"><strong>Center-aligned media</strong></h5>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                  <p class="mb-0"><a href="#">Read more <i class="fal fa-angle-right"></i></a></p>
                </div>
              </div>
            </div> 


            <div class="d-flex align-items-center mt-5 pt-5">
              <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                <!-- previous -->
                  {# <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <i class="far fa-chevron-circle-left"></i>
                    </a>
                  </li> #}
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <i class="far fa-chevron-circle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav> 
              <a href="#" class="ml-md-5"><strong>Load All</strong></a>
            </div>                     

          </main>
        </div>
      </div>
    </div>
  </section>


{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}