{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}


{% block content %}

  {{ c.section('container', 'pt-5 pb-5', '', '', 
    [
      {component: c.rich_text('
        <h1>Lorem ipsum dolor sit</h1>
        <h2>Praesent feugiat ante</h2>
        <h3>Psum, vitae luctus augue sollicitudin vitae</h3>
        <h4>Bibendum fringilla augue</h4>
        <h5>Mauris eu nisl nisi</h5>
        <h6>Sed nec erat ac</h6>

        <p>Cras posuere <a href="#">diam ac</a> cursus tempor. Morbi at <strong>lacus ultricies</strong>, posuere risus eu, <em>euismod eros</em>. Sed venenatis nisi dapibus vulputate porttitor. Ut ac diam eget sem dignissim ultricies semper vitae diam. Fusce efficitur consequat nisi, non dictum quam iaculis vel. Proin posuere blandit arcu, blandit placerat quam faucibus non. Nunc ac malesuada dui.</p>

        <p>Duis feugiat, neque vitae varius efficitur, ipsum magna iaculis velit, at interdum lectus arcu id tortor. Aenean lacinia suscipit velit, sed accumsan lacus ultricies sed. Pellentesque vitae tellus convallis, facilisis lorem quis, egestas neque. Donec ac lectus nulla. Integer nec metus enim. Nullam tempor pulvinar nisl id interdum. Vivamus a imperdiet quam.</p>

      
      '|safe) }
    ]
  )}} 

{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}