{% extends "layouts/master.njk" %}
{% import "partials/components.njk" as c %}


{% block content %}

  {% include 'partials/breadcrumb.njk' %}

  {{ c.section('container', '', '', '', 
    [
      {component: c.rich_text('<h1>Who We Are</h1>'|safe) }
    ]
  )}}

  {{ c.section('', '', '', '', 
    [
      {component: c.hero('', '
          <div class="hero-content pull-up-mobile hero-bg-teal">
            <h2>A Title</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
          </div>      
      '|safe) }
    ]
  )}}


  {{ c.section('container', 'pt-5 bg-light-blue text-center', '', '', 
    [
      {component: c.rich_text('<h2>Message &amp; Values</h2>'|safe) }
    ]
  )}}


  {{ c.section('container', 'pb-5 pt-5 bg-light-blue', '', '', 
    [
      { component: c.4_col(
        c.rich_text('
          <h4 class="text-cranberry">Integrity</h4>
          <p>Our uncompromising integrity resonates through every aspect of our business conduct, reinforcing our relationships and acting as our central touchstone.</p>
        '|safe),
        c.rich_text('
          <h4 class="text-marigold">Safety</h4>
          <p>To us, safety means a healthy workplace, a sustainable business model and minimizing our environmental impact. We work to achieve safety in all three areas at all times.</p>
        '|safe),
        c.rich_text('
          <h4 class="text-seagreen">Reliability</h4>
          <p>We commit to reliability in all areas: on-time delivery, consistently high-quality product performance and responsive, accessible customer service.</p>      
        '|safe),
        c.rich_text('
          <h4 class="text-admiral-blue">Partnership</h4>
          <p>We actively work to form long-lasting partnerships, solving problems and recommending ideas that will support business goals every step of the way.</p>      
        '|safe)          
    )}
    ]
  )}}   


  {{ c.section('container', 'pb-5 pt-5', '', '', 
    [
      {component: c.article_layout_3_col(
        c.generic('spacer', ''),
        c.rich_text('
          <span class="text-center">
          <h2>Our Leadership</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
          </span>'
          |safe),
        c.generic('spacer', '')
      )}
    ]
  )}}


  {{ c.section('container', 'pb-5', '', '', 
    [
      { component: c.generic('employee-listing', '
          <div class="d-flex flex-wrap justify-content-center align-center">
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div>
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div> 
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div> 
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div> 
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div> 
            <div class="employee-listing-item text-center">
              <p><img src="http://placehold.it/180x180" alt="..."></p>
              <p class="member-name"><strong>Employee One</strong></p>
              <p>Job Title</p>
            </div>                                                             
          </div>
        '|safe)}
    ]
  )}} 


  {{ c.section('container', 'pb-5', '', '', 
    [
    { component: c.generic('content-left-image-right','
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex h-100 align-items-center">
            <div class="flex-content">
              <h2>History</h2>
              <p>Although established in 1998, ChromaScape has a rich history of manufacturing colorants and additives for many different markets and applications. In 1968 Cleveland native George Chase and his wife Carol Ann founded Allied Color Industries, Inc. as a colorant formulator, manufacturer and supplier to the Plastics Industry.</p>
              <p>Today ChromaScape operates four manufacturing and distribution facilities throughout the United States.  It provides the market with full lines of colorants and support products under the Amerimulch, Innotech DCP, Solution Dispersions, and ChromaPave brands.  These products are used in many different markets for a broad range of applications, including the coloring of concrete, mulches, sands, aggregates, inks, paper, asphalt, recycled rubber and a wide variety of other proprietary products.</p> 
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="http://placehold.it/800x600" class="w-100" alt="...">
        </div>
      </div>
    '|safe) }
    ]
  )}}


  {{ c.section('container', 'text-center', '', '', 
    [
      {component: c.rich_text('<h1>News &amp; Events</h1>'|safe) }
    ]
  )}}


  {{ c.section('container', 'pb-5', '', '', 
    [
    { component: c.3_col(
      c.generic('blog-listing-feature', '
        <p><img src="http://placehold.it/350x150" class="w-100" alt="..."></p>
        <p><strong>The Importance of Mulch Pile Temperatures</strong></p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed.</p>
        <p><a href="#" class="text-cerulean">Read more <i class="fal fa-angle-right"></i></a></p>
      '|safe),
      c.generic('blog-listing-feature', '
        <p><img src="http://placehold.it/350x150" class="w-100" alt="..."></p>
        <p><strong>The Importance of Mulch Pile Temperatures</strong></p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed.</p>
        <p><a href="#" class="text-cerulean">Read more <i class="fal fa-angle-right"></i></a></p>
        <p><a href="#" class="btn btn-outline-orange">See all news &amp; events</a></p>
      '|safe),
      c.generic('blog-listing-feature', '
        <p><img src="http://placehold.it/350x150" class="w-100" alt="..."></p>
        <p><strong>The Importance of Mulch Pile Temperatures</strong></p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonu eirmod tempor invidunt ut labore et dolore magna aliqu yam erat, sed.</p>
        <p><a href="#" class="text-cerulean">Read more <i class="fal fa-angle-right"></i></a></p>
      '|safe)      
    )}
    ]
  )}}   

{% endblock %}


{% block pageScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock %}