<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>proto</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  {% block pageSpecificMeta %}{% endblock %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-POYwD7xcktv3gUeZO5s/9nUbRJG/WOmV6jfEGikMJu77LGYO8Rfs2X7URG822aum"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700" rel="stylesheet">
  
    <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="styles/navigator.css">
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



  <script type="text/javascript">
    $(document).ready(function() {
      $('.template-navigator-tab').on('click', function() {
        $(this).parent().toggleClass('is-active');
      })
    })
  </script>
</head>

{% set logoPath = 'http://placehold.it/150x60' %}

<body class="{{bodyClass}}">
  <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="template-navigator">
      <div class="template-navigator-tab"><i class="fas fa-book-dead"></i></div>
      <ul>
          <li class="divider">Pages Examples</li> 
          <li><a href="/">Home</a></li>
          <li><a href="/product-page.html">Product Page</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li class="divider">Components</li>          
          <li><a href="/all-cols.html">Column Components</a></li>
          <li><a href="/component-library.html">All Components</a></li>
          <li><a href="/forms.html">Forms</a></li>
      </ul>
  </div>

  {% include 'partials/header.njk' %}

  {% block content %}{% endblock %}

  {% include 'partials/footer.njk' %}

  <!-- build:js scripts/main.js -->
  {% block pageScripts %}{% endblock %}
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>