﻿div.medium-editor-anchor-preview, div.medium-editor-toolbar {
    z-index: 100000;
}

.medium-editor-element:focus {
    outline: 0;
}

.medium-editor-element:not([data-medium-focused]):hover {
    background-color: rgba(155, 155, 155, 0.17);
}

.medium-editor-placeholder:after {
    position: relative !important;
}

.medium-editor-placeholder *:only-child br:only-child {
    display: none;
}

.medium-editor-toolbar-form-row {
    color: #fff;
}

.medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px;
    background-color: #000;
    padding: 10px;
}