﻿@using Chromascape.Models.InlineEditors.ImageUploaderEditor
@model Chromascape.Models.InlineEditors.ImageUploaderEditor.ImageUploaderEditorViewModel


@{
    HtmlString GetActionUrl()
    {
        return Url.Kentico().AuthenticateUrl(Url.Action("Upload", "ImageUploader", new
        {
            pageId = Context.Kentico().PageBuilder().PageIdentifier
        }), false);
    }

    string GetContainerClass()
    {
        if (Model.Image != null)
        {
            return "uploader-container";
        }

        return Model.UseAbsolutePosition ? "uploader-empty-container absolute" : "uploader-empty-container";
    }

    string GetMessagePositionClass()
    {
        switch (Model.MessagePosition)
        {
            case PanelPositionEnum.Bottom:
                return "bottom";

            case PanelPositionEnum.Top:
                return "top";

            case PanelPositionEnum.Right:
                return "right";

            case PanelPositionEnum.Left:
                return "left";

            default:
                return "center";
        }
    }
}
@using (Html.Kentico().BeginInlineEditor("image-uploader-editor", Model.PropertyName,
    new
    {
        @class = "image-uploader-editor",
        data_url = GetActionUrl().ToString()
    }))
{
    <div class="@GetContainerClass()">
        <div class="uploader">
            <div class="dz-message @GetMessagePositionClass()">
                <i class="icon-arrow-up-line"></i>
                <div>
                    @Html.GetUIString("Drag and drop your image here")
                </div>
            </div>
        </div>
    </div>
}
