﻿@model Chromascape.Models.PageViewModel

@{
    ViewBag.Title = "Unsubscribe";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="section component component-section">
    <div class="container">
        <div class="row component component-1-col">
            <div class="col">
                <h1>
                    Unsubscribe
                </h1>
            </div>
        </div>

        @if (Model.UnsubscribeVM.UnsubscribeSuccessful)
        {
            <div class="row component component-link-list">
                <div class="col">
                    <div class="text-center">
                        <h3>Unsubscribe was successful</h3>
                    </div>
                </div>
            </div>
        }

        @if (!Model.UnsubscribeVM.UnsubscribeSuccessful)
        {
            <div class="row component component-link-list">
                <div class="col">
                    <div class="text-center">
                        <h3>Unsubscribe was unsuccessful. Please contact <a href="mailto:marketing@chromascape.com">marketing@chromascape.com</a></h3>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

