.template-navigator {
  position: fixed;
  top: 3em;
  left: -3px;
  transform: translateX(-100%);
  background: #14436d;
  z-index: 999;
  padding: 1em 2em;
  border-radius: 3px;
  border-top-right-radius: 0;
  box-shadow: -2px 5px 13px rgba(0, 0, 0, 0.32);
  display: none;
}
.template-navigator li.divider {
  border-bottom: 1px solid #bee1ff;
  color: #bee1ff;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  margin: 1em 0 1em;
}
.template-navigator.is-active {
  transform: translateX(0%);
}
.template-navigator ul {
  list-style: none;
  padding-left: 0;
}
.template-navigator ul li {
  padding-bottom: .2em;
}
.template-navigator ul a {
  color: #fff;
  text-decoration: underline;
}
.template-navigator-tab {
  position: absolute;
  top: 0;
  color: #fff;
  right: -36px;
  font-size: 2em;
  background: #0a253e;
  padding: .2em;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -2px 5px 13px rgba(0, 0, 0, 0.32);
}
.template-navigator-tab:hover {
  cursor: pointer;
}