{# Section #}
{% macro section(container, padding, color, backgroundImage, components, additionalClasses) %}
  {% if color %}
  <section class="section component {{padding}} component-section {{additionalClasses}}" style="background: {{ color }};">
  {% elif backgroundImage %}
  <section class="section component {{padding}} component-section has-background-image {{additionalClasses}}" style="background-image: url(https://www.cardinalcommerce.com/-/media/images/banners/couple-typing-card-info-into-tablet.ashx);">
  {% else %}
  <section class="section component {{padding}} component-section {{additionalClasses}}">
  {% endif %}

  {% if container %}
    <div class="{{ container }}">
      {% for component in components %}
        {{ component.component }}
      {% endfor %}
    </div>
  {% else %}
    {% for component in components %}
      {{ component.component }}
    {% endfor %}
  {% endif %}
  
  </section>
{% endmacro %}

{# 1_col #}
{% macro 1_col(components) %}
  <div class="row component component-1-col">
    <div class="col">
        {% for component in components %}
          {{ component.component }}
        {% endfor %}
    </div>
  </div>
{% endmacro %}

{# 2_Col #}
{% macro 2_col(component_1, component_2) %}
  <div class="row component component-2-col">
    <div class="col-md">
       {{ component_1 }}
    </div>
    <div class="col-md">
       {{ component_2 }}
    </div>
  </div>
{% endmacro %}

{# 3_col #}
{% macro 3_col(component_1, component_2, component_3) %}
  <div class="row component component-3-col">
    <div class="col-sm-4">
       {{ component_1 }}
    </div>
    <div class="col-sm-4">
       {{ component_2 }}
    </div>
    <div class="col-sm-4">
       {{ component_3 }}
    </div>    
  </div>
{% endmacro %}

{# 4_Col #}
{% macro 4_col(component_1, component_2, component_3, component_4) %}
  <div class="row component component-4-col">
    <div class="col-sm-6 col-md-3">
       {{ component_1 }}
    </div>
    <div class="col-sm-6 col-md-3">
       {{ component_2 }}
    </div>
    <div class="col-sm-6 col-md-3">
       {{ component_3 }}
    </div>    
    <div class="col-sm-6 col-md-3">
       {{ component_4 }}
    </div>      
  </div>
{% endmacro %}

{# Article Layout, 2_Col #}
{% macro article_layout_2_col(component_1, component_2) %}
  <div class="row component component-article-layout-2-col">
    <div class="col-md-4 col-lg-3">
       {{ component_1 }}
    </div>
    <div class="col-md-8 col-lg-9">
       {{ component_2 }}
    </div>
  </div>
{% endmacro %}

{# Article Layout, 2_col_swapped #}
{% macro article_layout_2_col_swapped(component_1, component_2) %}
  <div class="row component component-article-layout-2-col-swapped">
    <div class="col-md-8 col-lg-9">
       {{ component_1 }}
    </div>
    <div class="col-md-4 col-lg-3">
       {{ component_2 }}
    </div>
  </div>
{% endmacro %}

{# Article Layout, 3_col #}
{% macro article_layout_3_col(component_1, component_2, component_3) %}
  <div class="row component component-article-layout-3-col">
    <div class="col-md-3 col-lg-3">
       {{ component_1 }}
    </div>
    <div class="col-md-6 col-lg-6">
       {{ component_2 }}
    </div>
    <div class="col-md-3 col-lg-3">
       {{ component_3 }}
    </div>
  </div>
{% endmacro %}

{# Rich Text #}
{% macro rich_text(content) %}
  <div class="row component component-rich-text">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{# Rich Text #}
{% macro market(content) %}
  <div class="row component component-market">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{# Card #}
{% macro card(content) %}
  <div class="row component component-card">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{# Generic #}
{% macro generic(type, content) %}
  <div class="row component component-{{type}}">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}


{# Date Line #}
{% macro date_line(content) %}
  <div class="row component component-date-line">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{% macro general(content) %}
  {{ content }}
{% endmacro %}

{# Page Teaser #}
{% macro page_teaser(content) %}
  <div class="row component component-page-teaser">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{# Category List Item #}
{% macro category_list_item(content) %}
  <div class="row component component-category-list-item">
    <div class="col">
       {{ content }}
    </div>
  </div>
{% endmacro %}

{# Image #}
{% macro image(path, url, fullWidth) %}
  {% if url %}
    <div class="component component-image {{fullWidth}}">
      <a href="{{ url }}">
        <img src="{{ path }}" alt="">
      </a>    
    </div>
  {% else %}
    <div class="component component-image {{fullWidth}}">
      <img src="{{ path }}" alt="">
    </div>  
  {% endif %}
{% endmacro %}

{% macro hero(type, content) %}
  {% if type == 'carousel' %}
  <div class="row component component-carousel">
    <div class="col">
      <div class="hero carousel">
      {% for i in range(0, 3) %}
        <div class="carousel-cell">
          <img class="hero-fit" src="http://placehold.it/1200x600">
          <div class="container">
            <div class="hero-content pull-up-mobile hero-bg-teal">
              <h1 class="h2">Vibrantly enhance every corner of the world.</h1>
              <p>Chromascape provides effective, safe and environmentally friendly colorants to make the world brighter and more attractive.</p>
              <a class="btn btn-orange">Request a sample</a>
            </div>        
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if (type == '') or (type == null)%}
  <div class="row component component-hero">
    <div class="col">
      <div class="hero">
        <img class="hero-fit" src="http://placehold.it/1200x600">
        <div class="container">
          {{ content }}
        </div>
      </div>    
    </div>
  </div>
  {% endif %}

  {% if type == 'callout' %}
      <div class="hero-callout-container">
        <div class="negative-margin-container">
          <img src="http://placehold.it/1000x600">
        </div>
        <div class="p-md-5">
          <div class="hero-content pull-up-mobile hero-bg-blue">
            <h2 class="h1">Who We Are</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
            <a href="#" class="btn btn-outline-orange" style="color: #fff">Learn more</a>
          </div>
        </div>
    </div>  
  {% endif %}
{% endmacro %}

{% macro category_cloud() %}
  <div class="row component component-category-cloud">
    <div class="col">
       <div class="category-cloud">
        <h6 class="underline-title">Surgical Table Categories</h6>
        <ul>
          <li><a href="#">General Tables</a></li>
          <li><a href="#">Orthopedic Tables</a></li>
          <li><a href="#">General Tables</a></li>
          <li><a href="#">Pre-Owned Surgical Tables</a></li>
        </ul>
       </div>
    </div>
  </div>
{% endmacro %}

{% macro product_support() %}
  <div class="row component component-product-support-buttons">
    <div class="col">
      <div class="social-share-tip d-none">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank" class=""><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/share?url={{url}}&text={{title}}" target="_blank" class=""><i class="fab fa-twitter"></i></a>
        <a href=href="http://www.linkedin.com/shareArticle?mini=true&url={{url}}" target="_blank" class=""><i class="fab fa-linkedin-in"></i></a>
        <a href="mailto:?subject=Check out {{url}} &body=Check out {{url}}" target="_blank" class=""><i class="fas fa-envelope"></i></a>
      </div>
      <div class="d-flex">
        <button class="btn btn-secondary"><i class="fas fa-comment"></i>Live Chat</button>
        <button class="btn btn-secondary social-share-toggle"><i class="fas fa-share-alt"></i>Share</button>
        <button class="btn btn-secondary print-toggle"><i class="fas fa-print"></i>Print</button>          
      </div>
    </div>
  </div>

  <div class="row product-support-box component component-product-support">
    <div class="col">
      <div class="box">
        <div class="row">
          <div class="col-4 product-support-image-container">
            <img src="https://www.steris.com/images/icons/product_page/parts.png">
          </div>
          <div class="col-8">
            <p>STERIS Replacement Parts for your STERIS Surgical Tables</p>
          </div>      
        </div>
        <div class="row">
          <div class="col"> 
            <a class="btn btn-orange btn-block" href="#">View Service Parts</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row product-support-box component component-product-support-zip">
      <div class="col">
        <div class="box">
          <div class="row">
            <div class="col-4 product-support-image-container">
              <img src="https://www.steris.com/images/icons/product_page/salesman.png">
            </div>
            <div class="col-8">
              <p>STERIS Replacement Parts for your STERIS Surgical Tables</p>
            </div>      
          </div>
          <div class="row">
            <div class="col"> 
              <div class="form-row">
                <div class="col">
                  <input class="form-control" placeholder="test">
                </div>
                <div class="col">
                <a class="btn btn-primary" href="#">Locate Rep</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
  </div>

  <div class="row product-support-box component component-product-support-email-signup">
      <div class="col">
        <div class="box">
          <div class="row">
            <div class="col-4 product-support-image-container">
              <img src="https://www.steris.com/images/icons/product_page/email_icon.png">
            </div>
            <div class="col-8">
              <p><strong>Subscribe to our mailing list</strong></p>
              <p>Receive customized email communications from STERIS</p>
            </div>      
          </div>
          <div class="row">
            <div class="col"> 
              <div class="form-row">
                <div class="col">
                  <input class="form-control" placeholder="test">
                </div>
                <div class="col">
                <a class="btn btn-primary" href="#">Subscribe</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
  </div>  

  <div class="component component-image is-fullwidth">
    <a href="#">
      <img src="http://placehold.it/350x200" alt="">
    </a>    
  </div>  
{% endmacro %}


{% macro tabs(content1) %}
<div class="row component component-product-tabs">
  <div class="col">
    <ul class="nav nav-tabs flex-column flex-sm-row flex-sm-nowrap" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Postioning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Service Manual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Related Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Literature</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ content1 }}</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro side_bar(components) %}
  <aside class="side-bar">
    {% for component in components %}
      {{ component.component }}
    {% endfor %}  
  </aside>
{% endmacro %}

{% macro side_nav() %}
<nav class="primary-nav side-nav">
  <ul>
    <li class="primary-nav-item has-children lvl-1">
      <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
      <a href="/product-page.html" class="primary-nav-link">Products &amp; Services</a>
      <ul>
        <li class="primary-nav-item has-children lvl-2">
          <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
          <span href="/" class="primary-nav-link">HOSPITALS & SURGERY CENTERS</span> 
          <ul>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Surgical Equipment and Image Management</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Sterile Processing Equipment</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Surgical Sterilization and Decontamination Services</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Surgical Equipment and Image Management</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Surgical Instrument Cleaning Chemistries</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Sterility Assurance Monitoring</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Sterile Processing Management and Consultancy</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Endoscope Reprocessing</a></li>
          </ul>
        </li>
        <li class="primary-nav-item has-children lvl-2">
          <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
          <span href="/" class="primary-nav-link">MEDICAL DEVICE, PHARMACEUTICAL & BIOTECHNOLOGY MANUFACTURERS</span> 
          <ul>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Washing, Sterilization, Decontamination and Water Purification Equipment</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Process Cleaning Detergents</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Surface Disinfectants, Cleaners and Alcohols</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Sterility Assurance and Barrier Products</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Biodecontamination Services</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Equipment Maintenance and Services</a></li>
            <li class="primary-nav-item lvl-3"><a href="/" class="primary-nav-link">Service Parts</a></li>
          </ul>
        </li>
        <li class="primary-nav-item has-children lvl-2">
          <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
          <span href="/" class="primary-nav-link">RESEARCH & LABORATORY</span> 
          <ul>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">Sterilizers</a></li>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">Glassware Washers and Dryers</a></li>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">Washing Equipment</a></li>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">VHP Decontamination</a></li>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">Glassware Washing Detergents</a></li>
            <li class="primary-nav-item"><a href="/" class="primary-nav-link">Surface Disinfection</a></li>
          </ul>
        </li>                
      </ul>
    </li>  
    <li class="primary-nav-item">
      <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
      <a href="#" class="primary-nav-link">Products &amp; Services</a>
    </li>
    <li class="primary-nav-item">
      <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
      <a href="#" class="primary-nav-link">Careers</a>
    </li>
    <li class="primary-nav-item">
      <span class="primary-nav-item-toggle"><i class="fas fa-caret-up"></i></span>
      <a href="#" class="primary-nav-link">Investors</a>
    </li>
  </ul>
</nav>      
{% endmacro %}

{% macro facilities_key() %}
  <div class="facilities-key">
    <p><strong>Map Legend</strong></p>
    <div class="media">
      <img class="mr-2" src="https://www.steris.com/images/icons/map_marker_blue2.png" alt="Icon">
      <div class="media-body">
        <p>STERIS Corporation</p>
      </div>
    </div>
    <div class="media">
      <img class="mr-2" src="https://www.steris.com/images/icons/map_marker_purple2.png" alt="Icon">
      <div class="media-body">
        <p>STERIS AST</p>
      </div>
    </div>
    <div class="media">
      <img class="mr-2" src="https://www.steris.com/images/icons/map_marker_red2.png" alt="Icon">
      <div class="media-body">
        <p> STERIS IMS</p>
      </div>
    </div>
    <div class="media">
      <img class="mr-2" src="https://www.steris.com/images/icons/map_marker_green.png" alt="Icon">
      <div class="media-body">
        <p>STERIS/US Endoscopy</p>
      </div>
    </div>     
    <div class="media">
      <img class="mr-2" src="https://www.steris.com/images/icons/map_marker_blue3.png" alt="Icon">
      <div class="media-body">
        <p>STERIS University</p>
        <p>PeriOptimum<br>Atomic Energy<br>Commission</p>
      </div>
    </div>     
  </div>
{% endmacro %}


{% macro productCarousel() %}
<div class="row component component-product-carousel">
  <div class="col">
    <div class="carousel product-carousel" data-flickity='{"pageDots":false, "imagesLoaded": true, "prevNextButtons": false, "fullscreen": true, "autoPlay": 6000}'>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
      <div class="carousel-cell"><img src="http://placehold.it/300x300"></div>
    </div>
    <div class="carousel carousel-nav"
      data-flickity='{ "asNavFor": ".product-carousel", "contain": true, "pageDots": false, "imagesLoaded": true }'>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
      <div class="carousel-cell"><img src="http://placehold.it/80x80"></div>
    </div>
  </div>
</div>
{% endmacro %}


{% macro text_callout() %}
  <div class="row component component-text-callout">
    <div class="col">
      <div class="text-callout-border">
        <p>To our international visitors, please <a href="#"><strong>Contact Us</strong></a> directly or visit our <a href="#"><strong>Global Facilities</strong></a> page.<br>
  We have several facilities and distributors outside the United States who would be happy to assist you! We look forward to working with you.</p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro bottom_feature() %}
  <div class="row component component-bottom-feature">
    <div class="col">
      <hr>
      <div class="row">
        <div class="col-md-8">
          <div class="media">
            <img class="mr-3" src="https://www.steris.com/images/home/AdvaMed_2010-Color.png" alt="">
            <div class="media-body">
              <p>STERIS has adopted and requires compliance with The Advanced Medical Technology Association's ("AdvaMed") Code of Ethics on Interactions with Health Care Professionals.</p>
              <p>Please click the AdvaMed button to learn more.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-4">
          <a href="#" class="right-image">
            <img src="https://www.steris.com/images/home/GLNreadiness.png" alt="STERIS Declares GLN Readiness">
          </a>
        </div>      
      </div>
    </div>
  </div>
{% endmacro %}


{% macro forms() %}

<div class="row">
  <div class="col">
    <h4>Signup Form</h4>
    <form>
      <div class="form-group">
        <label for="zip">Zip Code</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="zip">
            <button type="submit" class="btn btn-green ml-2">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>Request a Quote </h4>
    <form>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Contact Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Job Title<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control is-invalid">
          <div class="invalid-feedback">
          Please enter valid information.
          </div>      
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Facility Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Facility Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Country</label>
        <div class="col-sm-8">
          <select class="form-control">
            <option>United States</option>
            <option>Mexico</option>
            <option>Another Item</option>
            <option>Another Item</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Facility Zip/Postal Code</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>    
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Phone</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div> 
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email <span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control is-invalid">
          <div class="invalid-feedback">
            Please enter valid information.
          </div>       
        </div>
      </div>
      <div class="form-group">
        <label>Please leave any additional comments.</label>
        <textarea class="form-control"></textarea>
      </div>
      <button class="btn btn-green">Request Quote</button>  
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h4>Subscribe to our email list</h4>
          <p>Sign up to receive updates on the latest news, events, educational opportunities and promotions from STERIS.</p>        
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Email <span class="required-label">*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Job Title <span class="required-label">*</span></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Facility Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="form-control">
                <option>United States</option>
                <option>Mexico</option>
                <option>Another Item</option>
                <option>Another Item</option>
              </select>
            </div>

            <div class="form-row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="a">
                  <label class="form-check-label" for="a">
                    Surgical/OR
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="b">
                  <label class="form-check-label" for="b">
                    Ambulatory Surgery Center
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="c">
                  <label class="form-check-label" for="c">
                    Sterile Processing
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="d">
                  <label class="form-check-label" name="d">
                    Hospital Equipment Planning and Design
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="e">
                  <label class="form-check-label" for="e">
                    Infection Prevention
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="f">
                  <label class="form-check-label" for="f">
                    Education/STERIS University
                  </label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="g">
                  <label class="form-check-label" for="g">
                    GI/Endoscopy
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="h">
                  <label class="form-check-label" for="h">
                    Equipment Maintenance and Repair
                  </label>
                </div>
              </div>
            </div>
          </form>
        <button class="btn" disabled>SIGN UP</button>           
      </div>
    </div>
  </div>
</div>

{% endmacro %}

{% macro rfq_form() %}
<div class="row">
  <div class="col-md-6">
    <div class="card bg-light">
      <div class="card-body">
        <h1 class="h2">Request a Quote or Information</h1>
        <p>Thank you for your interest in STERIS Products and Services. Please complete this form in order to receive a quote or information from STERIS Corporation.</p>        
        <br>
        <h4 class="underline-title h5">STERIS 5085 HARMONY SURGICAL TABLE</h4>          
        <form>
          <div class="form-group">
            <label>Name <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Job Title <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Phone <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Email <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Facility Name <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Facility Address <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>                       
          <div class="form-group">
            <label>City <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>            
          <div class="form-group">
            <label>State <span class="required-label">*</span></label>
            <select class="form-control">
              <option>Select Your State:</option>
            </select>
          </div>
          <div class="form-group">
            <label>Zip/Postal Code <span class="required-label">*</span></label>
            <textarea class="form-control"></textarea>
          </div> 
          <div class="form-group">
            <label>Country <span class="required-label">*</span></label>
            <select class="form-control">
              <option>Select Your Country:</option>
            </select>
          </div>
          <div class="form-group">
            <label>Additional Comments <span class="required-label">*</span></label>
            <textarea class="form-control"></textarea>
          </div>             
        </form>
        <button class="btn" disabled>REQUEST A QUOTE</button>
        <br><br>
        <p><a href="#"><i class="far fa-arrow-left"></i> Go back to STERIS 5085 Harmony Surgical Table</a></p>
      </div>
    </div>
    <p><strong>We Value Your Privacy</strong></p>
    <p>Any information you provide is only used by STERIS Corporation. We do not sell or share it with any third parties.
    <a href="#">Click here to read our Privacy Policy</a>.</p>
  </div>
</div>
{% endmacro %}


{% macro trade_form() %}
<div class="row">
  <div class="col">
    <h2>Trading Partner Profile</h2>
    <br>
    <h4 class="underline-title h5">Contact Information</h4>    
    <form>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Trading Partner Name<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Street Address<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control is-invalid">
          <div class="invalid-feedback">
          Please enter valid information.
          </div>      
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Address Line 2</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">City<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Country<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <select class="form-control">
            <option>United States</option>
            <option>Mexico</option>
            <option>Another Item</option>
            <option>Another Item</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">State<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <select class="form-control">
            <option>Ohio</option>
            <option>PA</option>
            <option>Another Item</option>
            <option>Another Item</option>
          </select>
        </div>
      </div> 
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Zip Code<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">EDI Contact Name<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>      
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Phone<span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div> 
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Fax</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div> 
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email <span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">EDI Technical Contact Name <span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">EDI Technical Contact Email <span class="required-label">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </form>

    <div class="pt-5">
      <h4 class="underline-title h5">SETUP INFORMATION</h4>    
      <form>
        <div class="form-group row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label">Test ISA/GS ID #<span class="required-label">*</span></label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>            
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label"><strong>Qualifier</strong></label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>            
            </div>
          </div>        
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label">Production ISA/GS ID #<span class="required-label">*</span></label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>            
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label"><strong>Qualifier</strong></label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>            
            </div>
          </div>        
        </div>      
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Connection (VAN,FTP,AS2)<span class="required-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Which VAN do you currently use?</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Format<span class="required-label">*</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
      </form>
    </div>

    <div class="pt-5 pb-5">
      <h4 class="underline-title h5">EDI REQUIREMENTS</h4>  
      <p>We require the following transactions sets in version 4010. Please check all transaction sets that apply. If more apply kindly add.</p>  
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="850">
                <label class="form-check-label" for="850">
                  850 (Purchase Order)
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="855">
                <label class="form-check-label" name="855" for="855">
                  855 (P.O. Acknowledgment)
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="810">
                <label class="form-check-label" for="810">
                  810 (Invoice)
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="856">
                <label class="form-check-label" name="856" for="856">
                  856 (Advance Ship Notice)
                </label>
              </div>
            </div>        
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="867">
                <label class="form-check-label" for="867">
                  867 (Resale Report)
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="997">
                <label class="form-check-label" name="997" for="997">
                  997 (Functional Acknowledgment)
                </label>
              </div>
            </div>        
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="865">
                <label class="form-check-label" for="865">
                  865 (Purchase Order Change Acknowledgment)
                </label>
              </div>
            </div>
            <div class="col"></div>        
          </div>        
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">How many times per day do you retrieve transactions?</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">How many times per day do you send transactions?</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Processing schedule (AM/PM)</p>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">AM</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">PM</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>How are you currently sending in your purchase orders?</p>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option1">
              <label class="form-check-label" for="inlineRadio6">Phone</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option2">
              <label class="form-check-label" for="inlineRadio5">Fax</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
              <label class="form-check-label" for="inlineRadio3">Email</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
              <label class="form-check-label" for="inlineRadio4">steris.com Online Account</label>
            </div>          
          </div>
        </div>    
      </form>
    </div>

    <div class="row">
      <div class="col">    
        <p><strong>This request is not completed until the EDI specs and EDI samples are sent to <a href="mailto:EDISupport@steris.com">EDISupport@steris.com.</a></strong></p>
      </div>
      <div class="col">
        <button class="btn btn-green">Submit</button>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col">***Capcha Goes Here***</div>
    </div>
  </div>
</div>
{% endmacro %}



{% macro general_inquery_form() %}
<div class="row">
  <div class="col-md-6">
    <div class="card bg-light">
      <div class="card-body">
        <h1 class="h2">Get a Quote or Information</h1>
        <p>Thank you for your interest in STERIS Products and Services. Please complete this form in order to receive a quote or information from STERIS Corporation.</p>        
        <form id="general-inquery">
          <div class="form-group">
            <label>Product Family <span class="required-label">*</span></label>
            <select class="form-control" id="productFamilies">
              <option value="">Select a Product Family...</option>
              <option value="surgicalFamily">Surgical</option>
              <option value="sterilProcessingFamily">Sterile Processing</option>
              <option value="EndoscopeReprocessingFamily">Endoscope Reprocessing Solutions</option>
              <option value="EquipmentServicesFamily">Equipment Services</option>
            </select>
          </div>
          <div class="form-group d-none" id="productCategories">
            <label>Category <span class="required-label">*</span></label>
            <select class="form-control d-none" id="surgicalFamily">
              <option>Select a Category...</option>
              <option>Surgical Lights</option>
              <option>Surgical Tables</option>
              <option>Surgical Table Accessories</option>
              <option>AMSCO Warming Cabinets</option>
              <option>Scrub Sinks</option>
              <option>Surgical Displays and Widescreen Monitors</option>
              <option>Equipment Booms</option>
              <option>Storage Cabinets</option>
            </select>
            <select class="form-control d-none" id="sterilProcessingFamily">
              <option>Select a Category...</option>
              <option>Steam Sterilizers</option>
              <option>Washing and Decontamination Systems</option>
              <option>Instrument Cleaning Chemistries</option>
              <option>Biological Indicators</option>
              <option>Chemical Indicators</option>
              <option>Clean Up Counters and Sinks</option>
              <option>Prep and Pack Workstations</option>
              <option>Equipment Control Products</option>
              <option>Load Control Products</option>
              <option>Process Control Products</option>
              <option>Record Keeping and Labeling</option>
              <option>Pack Control Products</option>
              <option>Sterile Processing Accessories</option>
              <option>Washer Racks</option>
            </select>
            <select class="form-control d-none" id="EndoscopeReprocessingFamily">
              <option>Select a Category...</option>
              <option>SYSTEM 1E Liquid Chemical Sterilant Processing System</option>
              <option>V-PRO Low Temperature Sterilization Systems</option>
              <option>Endoscope Detergents and High Level Disinfectants</option>
              <option>Automated Endoscope Reprocessing Systems</option>
              <option>Ethylene Oxide Sterilization</option>
            </select>
            <select class="form-control d-none" id="EquipmentServicesFamily">
              <option>Select a Category...</option>
              <option>Service Parts</option>
              <option>Service Contracts</option>
              <option>Endoscope Detergents and High Level Disinfectants</option>
              <option>Automated Endoscope Reprocessing Systems</option>
              <option>Ethylene Oxide Sterilization</option>
            </select>             
          </div>
          <div class="form-group">
            <label>Name <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Job Title <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Phone <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Email <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Facility Name <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Facility Address <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>                       
          <div class="form-group">
            <label>City <span class="required-label">*</span></label>
            <input type="text" class="form-control">
          </div>            
          <div class="form-group">
            <label>State <span class="required-label">*</span></label>
            <select class="form-control">
              <option>Select Your State:</option>
            </select>
          </div>
          <div class="form-group">
            <label>Zip/Postal Code <span class="required-label">*</span></label>
            <textarea class="form-control"></textarea>
          </div> 
          <div class="form-group">
            <label>Country <span class="required-label">*</span></label>
            <select class="form-control">
              <option>Select Your Country:</option>
            </select>
          </div>
          <div class="form-group">
            <label>Additional Comments <span class="required-label">*</span></label>
            <textarea class="form-control"></textarea>
          </div>             
        </form>
        <button class="btn" disabled>GET A QUOTE</button>
      </div>
    </div>
  </div>
</div>

{% endmacro %}