<footer class="footer">
  <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <ul class="list-unstyled footer-links">
            <li><a href="#" class="h5"><strong>Who We Are</strong></a></li>
            <li><a href="#" class="h5"><strong>Markets</strong></a></li>
            <li><a href="#" class="h5"><strong>Products</strong></a></li>
            <li><a href="#" class="h5"><strong>Resources</strong></a></li>
            <li><a href="#" class="h5"><strong>Insights</strong></a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="footer-contact">
            <h5><strong>CONTACT US</strong></h5>
            <p>Chromascape<br>
            <a href="mailto:contact@chromascape.com">contact@chromascape.com</a><br>
            (888) 421-0010<br>
            <a href="#" class="text-cerulean">Show on map</a></p>
          </div>
        </div> 
        <div class="col-sm-12 col-md-3">
          <h5><strong>FOLLOW US</strong></h5>
          <ul class="list-unstyled list-inline follow-links">
            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <p>&copy; 2019 Chromascape, All rights reserved.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <a href="#" class="btn btn-orange">Request a sample</a>
        </div>
      </div>
  </div>
</footer>