<header id="header">
  <div class="header-top d-none d-md-block">
    <div class="container">
      <ul class="utility-nav">
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="tel:888.421.0010">(888) 421-0010</a></li>
        <li class="header-search">
        <form>
          <span class="header-search-icon"></span>
          <span class="header-search-input">
            <input type="text" placeholder="Search...">
            <button class="btn btn-submit">Submit</button>
          </span>
        </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-bottom bg-ink">
    <div class="container">
      <a href="#" class="header-logo"><img src="images/chromascape_logo.svg" alt="Chromascape Logo"></a>
      <div class="mobile-nav-toggle" id="mobile-nav-toggle">
        <i class="fal fa-times"></i>
        <img src="images/mobile-toggle-icon.svg" alt="">
      </div>
      <ul class="primary-nav">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">Markets</a></li>
        <li class="has-children" >
          <span class="mobile-nav-children-toggle"><i class="fas fa-chevron-right"></i></span>
          <a href="#" class="toggle-children">Markets</a>
          <ul class="lvl-2">
            <li>
              <a href="#">Landscape</a>
              <ul class="lvl-3">
                <li><a href="#">Mulch Colorant</a></li>
                <li><a href="#">Mulch Equipment</a></li>
                <li><a href="#">Aggregate Colorants</a></li>
                <li><a href="#">Rubber Colorants</a></li>
              </ul>              
            </li>
            <li>
                <a href="#">Custom Dispersions</a>
                <ul class="lvl-3">
                  <li><a href="#">Graphic Arts & Inks</a></li>
                  <li><a href="#">Building Materials</a></li>
                  <li><a href="#">Paint & Coatings</a></li>
                </ul>              
              </li>            
          </ul>
        </li>        
        <li class="has-children">
          <span class="mobile-nav-children-toggle"><i class="fas fa-chevron-right"></i></span>
          <a href="#" class="toggle-children">Products</a>
          <ul class="lvl-2">
            <li>
              <a href="#">Landscape</a>
              <ul class="lvl-3">
                <li><a href="#">Mulch Colorant</a></li>
                <li><a href="#">Mulch Equipment</a></li>
                <li><a href="#">Aggregate Colorants</a></li>
                <li><a href="#">Rubber Colorants</a></li>
              </ul>              
            </li>
            <li>
                <a href="#">Custom Dispersions</a>
                <ul class="lvl-3">
                  <li><a href="#">Graphic Arts & Inks</a></li>
                  <li><a href="#">Building Materials</a></li>
                  <li><a href="#">Paint & Coatings</a></li>
                </ul>              
              </li>            
          </ul>
        </li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Insights</a></li>
        <li>
          <div class="header-search mobile-search is-active">
            <span class="header-search-icon"><i class="fas fa-search"></i></span>
            <span class="header-search-input">
              <input type="text" placeholder="Search...">
            </span>
          </div>            
        </li>
      </ul>
      <a href="#" class="btn btn-orange">Request a Sample</a>
    </div>
  </div>
</header>