﻿
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@model Chromascape.Models.Sections.DefaultSectionViewModel

@{
    string topPadding = (Model.AddTopPadding) ? "pt-5" : "";
    string bottomPadding = (Model.AddBottomPadding) ? "pb-5" : "";
}

<section class="section component @bottomPadding @topPadding component-section @Model.BackgroundColor @Model.CustomCssClasses">
    <div class="container">
        <div class="row component component-4-col">
            <div class="col-sm-6 col-md-3">
                @Html.Kentico().WidgetZone()
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.Kentico().WidgetZone()
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.Kentico().WidgetZone()
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.Kentico().WidgetZone()
            </div>
        </div>
    </div>
</section>
