﻿@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc


    <div class="row">
        <div class="col">
            @Html.Kentico().FormZone()
        </div>
        <div class="col">
            @Html.Kentico().FormZone()
        </div>
    </div>