﻿@using Chromascape.Models.InlineEditors.TextEditor
@using Chromascape.Models.Widgets.TextWidget
@using Chromascape.Models.InlineEditors.ImageUploaderEditor
@using Chromascape.Models.Widgets.ImageWidget

@model Chromascape.Models.Widgets.ContentLeftImageRightHeroWidget.ContentLeftImageRightHeroViewModel

<div class="row component component-content-left-image-right is-hero @Model.CustomCssClasses">
    <div class="col">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex h-100 align-items-center">
                    <div class="flex-content hero-bg-teal">
                        @if (Context.Kentico().PageBuilder().EditMode)
                        {
                            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                            {
                                PropertyName = nameof(TextWidgetProperties.Text),
                                Text = Model.Text
                            });
                        }
                        else
                        {
                            @Html.Raw(Model.Text);
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @if (Context.Kentico().PageBuilder().EditMode)
                {
                    Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
                    {
                        PropertyName = nameof(ImageWidgetProperties.ImageGuid),
                        Image = Model.Image
                    });
                }

                @if(Model.Image != null)
                {
                    @Html.AttachmentImage(Model.Image, cssClassName: "w-100", title: Model.Image.AttachmentTitle)
                }

            </div>
        </div>
    </div>
</div>