﻿@model Chromascape.Models.Widgets.HeroCalloutWidget.HeroCalloutWidgetViewModel

@if(Model.HeroCallout != null)
{
    <div class="hero-callout-container @Model.CustomCssClasses">
        <div class="hero-callout-container">
            <div class="negative-margin-container">
                @if (Model.HeroCallout.Image != null)
                {
                    <img src="@Url.Content(Model.HeroCallout.Image.GetPath())" alt="@Model.HeroCallout.Image.AttachmentTitle" />
                }
            </div>
            <div class="p-md-5">
                <div class="hero-content pull-up-mobile hero-bg-blue">
                    <h2>@Html.Raw(Model.HeroCallout.Title)</h2>
                    @Html.Raw(Model.HeroCallout.Content)
                    <a href="@Model.HeroCallout.ButtonUrl" class="btn btn-outline-orange" style="color: #fff">@Model.HeroCallout.ButtonText</a>
                </div>
            </div>
        </div>
    </div>
}
