﻿@model Chromascape.Models.Widgets.HeroCarousel.HeroCarouselViewModel

@{ 
    int slideCount = Model.Slides.Count;

    string carouselClass = (slideCount == 1) ? "" : "carousel";
}

<div class="row component component-carousel @Model.CustomCssClasses">
    <div class="col">
        <div class="hero @carouselClass">
            @foreach(var slide in Model.Slides)
            {
                <div class="carousel-cell">
                    <img class="hero-fit" src="@Url.Content(slide.BackgroundImage.GetPath())" alt="@slide.BackgroundImage.AttachmentTitle">
                    <div class="container">
                        <div class="hero-content pull-up-mobile hero-bg-teal">
                            <h1 class="h2">@slide.Title</h1>
                            @Html.Raw(slide.SlideContent)

                            @if(!string.IsNullOrEmpty(slide.ButtonUrl) && !string.IsNullOrEmpty(slide.ButtonText))
                            {
                                <a class="btn btn-orange" href="@slide.ButtonUrl">@slide.ButtonText</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
