﻿@model Chromascape.Models.Widgets.IndustryListingWidgets.IndustryListingViewModel

@if(Model.Industries != null && Model.Industries.Count > 0)
{
    <div class="row component component-industries-listing">
        <div class="col">
            <!-- Mobile view starts here -->
            <div class="d-block d-sm-none">
                @foreach(var industry in Model.Industries)
                {
                    <a href="@industry.Url" class="d-flex align-items-center industries-listing-item-small">
                        <div class="image-container">
                            <img src="@Url.Content(industry.Image.GetPath())" alt="@industry.Image.AttachmentTitle">
                        </div>
                        <p class="ml-3 mb-0">@industry.Name</p>
                    </a>
                }
            </div>
            <!-- Mobile view ends here -->
            <!-- Desktop view starts here -->
            <div class="row d-none d-sm-flex">
                @foreach(var industry in Model.Industries)
                {
                    <div class="col-sm-6 col-md-4 industries-listing-col">
                        <a href="@industry.Url" class="industries-listing-item">
                            <img src="@Url.Content(industry.Image.GetPath())" alt="@industry.Image.AttachmentTitle">
                            <div class="industries-listing-item-title">@industry.Name</div>
                        </a>
                    </div>
                }
            </div>
            <!-- Desktop view ends here -->
        </div>
    </div>
}
