﻿@model Chromascape.Models.Widgets.LeadershipListingWidget.LeadershipListingViewModel

@if(Model.LeadershipMembers != null && Model.LeadershipMembers.Count > 0)
{
<div class="row component component-employee-listing @Model.CustomCssClasses">
    <div class="col">

        <div class="d-flex flex-wrap justify-content-center align-center">
            @foreach (var member in Model.LeadershipMembers)
            {
                <div class="employee-listing-item text-center">
                    <p><img src="@Url.Content(member.Image.GetPath())" alt="@member.Name"></p>
                    <p class="member-name"><strong>@member.Name</strong></p>
                    <p>@member.JobTitle</p>
                </div>

            }
        </div>
    </div>
</div>
}
