﻿@model Chromascape.Models.Widgets.LinkListingWidget.LinkListingViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
    <div>
        <h3>
            The link listing widget has been added. Select the list group using the gear icon in the upper right corner.
            This text will not appear on the website.
        </h3>
    </div>
}


@if(Model.Links != null && Model.Links.Count > 0)
{
    <div class="row component component-link-list @Model.CustomCssClasses">
        <div class="col">
            <div class="text-center">
                <ul class="list-unstyled d-inline-block">
                    @foreach(var link in Model.Links)
                    {
                        <li class="py-3">
                            <a href="@link.Url" class="media" target="_blank">
                                <p class="align-self-center mr-2 mb-0"><strong><i class="fas @link.Icon"></i></strong></p>
                                <div class="media-body">
                                    <p class="mb-0">
                                        <strong>
                                            @if (!string.IsNullOrEmpty(link.LinkText))
                                            {
                                                @link.LinkText
                                            }
                                            else
                                            {
                                                @link.Name
                                            }

                                        </strong>
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
