﻿
@model Chromascape.Models.Widgets.MarketsWidget.MarketsWidgetViewModel


@if(Model.Markets != null && Model.Markets.Count > 0)
{
    foreach(var market in Model.Markets)
    {
        string contentSideCssClass = "";
        string imageSideCssClass = "";

        if(market.ImageOption != "default")
        {
            contentSideCssClass = market.ImageOption;
            imageSideCssClass = "order-1 order-md-2";
        }

        <div class="component-markets-listing @Model.CustomCssClasses">
            <div class="d-flex flex-column flex-md-row align-stretch justify-content-center image-text-callout">
                <div class="negative-margin-container @imageSideCssClass">
                    <div class="image-container w-100">
                        @if(market.Image != null)
                        {
                            <img src="@Url.Content(market.Image.GetPath())" alt="@market.Image.AttachmentTitle" />
                        }
                    </div>
                </div>
                <div class="text-container py-5 px-3 pull-up-mobile text-center text-white @contentSideCssClass @market.ContentBackgroundColor d-flex flex-column justify-content-center w-100">
                    <h3 class="mb-0"><a href="@market.TitleUrl">@market.Title</a></h3>
                    <p class="text-ink">@market.Subtitle</p>
                    <ul class="list-unstyled">
                        @foreach(var link in market.MarketLinks)
                        {
                            <li><a href="@link.LinkUrl">@link.LinkTitle</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}
