﻿@model Chromascape.Models.Widgets.ProductBrandWidget.ProductBrandViewModel



<div class="row component component-3-col @Model.CustomCssClasses">

    @if(Model.ProductsBrands != null && Model.ProductsBrands.Count > 0)
    {
        foreach(var product in Model.ProductsBrands)
        {
            <div class="col-sm-6 col-md-4">
                <div class="row component component-card">
                    <div class="col">
                        <div class="card">
                            <img src="@Url.Content(product.Image.GetPath())" class="card-img-top" alt="@product.Image.AttachmentTitle">
                            <div class="card-body">
                                <p class="card-title">@product.Name</p>
                                <p class="card-text">
                                    @Html.Raw(product.Content)
                                </p>
                                <a href="@product.LinkUrl" class="text-brilliant-blue">@product.LinkText <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>
