﻿@model Chromascape.Models.Widgets.ResourceListingWidget.ResourceListingViewModel

@if (Model.Resources != null && Model.Resources.Count > 0)
{
    <main class="pr-md-3">
        <h1>RESOURCES</h1>


        @foreach (var member in Model.Resources)
        {
            <div class="resource mb-4">
                <div class="d-md-flex flex-align-center">
                    <img src="@member.ResourceIcon" class="align-self-center mb-3 mb-md-0 mr-md-3" alt="...">
                    <div class="media-body">
                        <h5 class="resource-title mt-0"><strong>@member.ResourceTitle</strong></h5>
                        @Html.Raw(member.ResourceDescription)

                        @if (member.ResourceFile != null)
                        {
                    <p class="mb-0"><a href="@Url.Content(member.ResourceFile.GetPath())" class="download-link">DOWNLOAD <i class="fas fa-arrow-alt-to-bottom"></i></a></p>
                        }
                        else
                        {
                    <p class="mb-0"><a href="@member.ResourceExternalLink" target="_blank">Read more <i class="fal fa-angle-right"></i></a></p>
                        }
                        
                        
                    </div>
                </div>
            </div>
        }

    </main>

}
